Repository grafana/agent, pull requests merged in 2022-09, with the labels that each got.

#2096 river: add documentation for language concepts
  docs/flow/config-language/components.md
  docs/flow/config-language/files.md
  docs/flow/config-language/syntax.md
Labels: type/docs, flow

#2127 river/vm: enhance error message for unrecognized attribute/block names
  pkg/river/vm/vm.go
  pkg/river/vm/vm_block_test.go
Labels: river

#2141 Add missing periods in Agent landing page
  docs/sources/_index.md
Labels: type/docs

#2046 RFC: Future plans for the Grafana Agent Operator
  docs/rfcs/0005-future-of-agent-operator.md
Labels: stale
