Repository grafana/agent, pull requests merged in 2023-11, with the labels that each got.

#5666 NSIS: Add /CONFIG and /DISABLEREPORTING flag
  CHANGELOG.md
  docs/sources/flow/setup/install/windows.md
  packaging/grafana-agent-flow/windows/install_script.nsis
Labels: type/docs

#5680 prometheus.scrape: clarify docs on job label
  docs/sources/flow/reference/components/prometheus.scrape.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5635 docs(pyroscope): fixes wrong memory profiling path
  docs/sources/flow/reference/components/pyroscope.scrape.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#4666 Fix the type of Password field in kafka config
  CHANGELOG.md
  component/loki/source/kafka/kafka.go
  converter/internal/promtailconvert/internal/build/kafka.go
  docs/sources/flow/reference/components/loki.source.kafka.md
Labels: needs-attention

#5704 Fixing example in remote.kubernetes.secret.md to include nonsensitive()
  docs/sources/flow/reference/components/remote.kubernetes.secret.md
Labels: type/docs, backport release-v0.37

#5719 Clarify blackbox exporter documentation
  component/prometheus/exporter/blackbox/blackbox.go
  component/prometheus/exporter/blackbox/blackbox_test.go
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/static/configuration/integrations/blackbox-config.md
  pkg/integrations/blackbox_exporter/blackbox_exporter.go
Labels: type/docs

#5737 docs: add a tenant example to prometheus.remote_write.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5405 Remove note about "from_context" not working in otelcol.auth.headers
  docs/sources/flow/reference/components/otelcol.auth.headers.md
Labels: type/docs

#5678 Added Kubernetes service resolver to loadbalancing exporters.
  CHANGELOG.md
  component/otelcol/exporter/loadbalancing/loadbalancing.go
  component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  docs/sources/flow/reference/components/otelcol.exporter.loadbalancing.md
  docs/sources/static/configuration/traces-config.md
  pkg/traces/config.go
  pkg/traces/config_test.go
Labels: type/docs

#5749 Update links to Grafana Cloud Agent pages
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/about.md
  docs/sources/data-collection.md
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/component_controller.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/concepts/modules.md
  docs/sources/flow/getting-started/collect-opentelemetry-data.md
  docs/sources/flow/getting-started/collect-prometheus-metrics.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/migrating-from-static.md
  docs/sources/flow/getting-started/opentelemetry-to-lgtm-stack.md
  docs/sources/flow/monitoring/component_metrics.md
  docs/sources/flow/monitoring/controller_metrics.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
  docs/sources/flow/tutorials/assets/generate.sh
  docs/sources/flow/tutorials/assets/runt.sh
  docs/sources/flow/tutorials/chaining.md
  docs/sources/flow/tutorials/collecting-prometheus-metrics.md
  docs/sources/flow/tutorials/filtering-metrics.md
  docs/sources/operator/release-notes.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/set-up/install/_index.md
Labels: type/docs, backport release-v0.37

#5779 [release-v0.37] Update links to Grafana Cloud pages for content moved in https://github.com/grafana/website/pull/16313 (#5749)
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/about.md
  docs/sources/data-collection.md
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/component_controller.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/concepts/modules.md
  docs/sources/flow/getting-started/collect-opentelemetry-data.md
  docs/sources/flow/getting-started/collect-prometheus-metrics.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/migrating-from-static.md
  docs/sources/flow/getting-started/opentelemetry-to-lgtm-stack.md
  docs/sources/flow/monitoring/component_metrics.md
  docs/sources/flow/monitoring/controller_metrics.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
  docs/sources/flow/tutorials/assets/generate.sh
  docs/sources/flow/tutorials/assets/runt.sh
  docs/sources/flow/tutorials/chaining.md
  docs/sources/flow/tutorials/collecting-prometheus-metrics.md
  docs/sources/flow/tutorials/filtering-metrics.md
  docs/sources/operator/release-notes.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/set-up/install/_index.md
Labels: type/docs, backport

#5775 [Docs] Add river language tag
  docs/sources/flow/getting-started/migrating-from-operator.md
Labels: type/docs

#5732 Add a table to the flow description showing benefits and strengths of flow
  docs/sources/about.md
Labels: type/docs, backport release-v0.37

#5816 docs: fix example in prometheus.exporter.agent
  docs/sources/flow/reference/components/prometheus.exporter.agent.md
Labels: backport release-v0.37, backport release-v0.38

#5813 Add metrics and resource attribute config options from vcentereceiver in docs and tests
  component/otelcol/receiver/vcenter/vcenter_test.go
  docs/sources/flow/reference/components/otelcol.receiver.vcenter.md
Labels: backport release-v0.38

#5826 misc: prepare for the v0.38.0 release
  CHANGELOG.md
  docs/sources/_index.md
  pkg/operator/defaults.go
  tools/gen-versioned-files/agent-version.txt
Labels: backport release-v0.38

#5788 Agent Management: Introduce support for template variables
  CHANGELOG.md
  docs/sources/static/configuration/agent-management.md
  pkg/config/agent_management_remote_config_test.go
  pkg/config/agentmanagement_remote_config.go
Labels: type/docs

#5808 chore(chart): rename doc ref of `controller.securityContext` to `agent.securityContext`
  operations/helm/charts/grafana-agent/CHANGELOG.md
  operations/helm/charts/grafana-agent/README.md
  operations/helm/charts/grafana-agent/README.md.gotmpl
Labels: type/docs

#5713 feat(comp/cadvisor): allow user to disable collecting root Cgroup stats
  CHANGELOG.md
  component/prometheus/exporter/cadvisor/cadvisor.go
  converter/internal/staticconvert/internal/build/cadvisor_exporter.go
  docs/sources/flow/reference/components/prometheus.exporter.cadvisor.md
  docs/sources/static/configuration/integrations/cadvisor-config.md
  go.mod
  go.sum
  pkg/integrations/cadvisor/cadvisor.go
  pkg/integrations/cadvisor/common.go
Labels: type/docs

#5850 Fixed the url links
  docs/sources/operator/helm-getting-started.md
Labels: type/docs, backport release-v0.36, backport release-v0.37, backport release-v0.38

#5807 feat(otelcol/exp/prom): add support for resource_to_telemetry_conversion
  CHANGELOG.md
  component/otelcol/exporter/prometheus/internal/convert/convert.go
  component/otelcol/exporter/prometheus/internal/convert/convert_test.go
  component/otelcol/exporter/prometheus/prometheus.go
  component/otelcol/exporter/prometheus/prometheus_test.go
  docs/sources/flow/reference/components/otelcol.exporter.prometheus.md
Labels: type/docs

#5768 MSSQL Integration: Adds query_config_path to allow for custom metrics through custom exporter config file
  CHANGELOG.md
  component/prometheus/exporter/mssql/mssql.go
  component/prometheus/exporter/mssql/mssql_test.go
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/static/configuration/integrations/mssql-config.md
  pkg/integrations/mssql/collector.go
  pkg/integrations/mssql/sql_exporter.go
  pkg/integrations/mssql/sql_exporter_test.go
Labels: type/docs

#5866 Add fix for process and include details on crash behavior.
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
  go.mod
  go.sum
Labels: type/docs

#5873 [docs] Add missing comma in headers example to prometheus.remote_writ…
  docs/sources/flow/reference/components/prometheus.remote_write.md
Labels: type/docs, backport release-v0.36, backport release-v0.37, backport release-v0.38

#5884 fix: Documentation references of client_auth in flow http client.
  docs/sources/flow/reference/config-blocks/http.md
Labels: backport release-v0.37, backport release-v0.38

#5880 Add Deploy Mode to usage stats.
  CHANGELOG.md
  docs/sources/data-collection.md
  internal/useragent/useragent.go
  internal/useragent/useragent_test.go
  pkg/usagestats/stats.go
Labels: type/docs
