Repository grafana/agent, pull requests merged in 2023-06, with the labels that each got.

#3996 Correct match_expression Operators
  docs/sources/flow/reference/components/mimir.rules.kubernetes.md
Labels: type/docs, backport release-v0.33

#4034 Call out string operators
  docs/sources/flow/config-language/expressions/operators.md
Labels: type/docs, backport release-v0.33

#4053 [Flow] Fix attribute docs for the Prometheus Windows Exporter
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
Labels: type/docs, backport release-v0.33

#4075 Correct the description for dfsr in Blocks
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
Labels: type/docs, backport release-v0.33

#4007 Update Grafana Agent other install topic
  docs/sources/static/set-up/install-agent-binary.md
  docs/sources/static/set-up/install-agent-linux.md
  docs/sources/static/set-up/install-agent-macos.md
  docs/sources/static/set-up/install-agent-on-windows.md
Labels: type/docs, backport release-v0.33

#4086 Remove flow reference from Windows static install steps
  docs/sources/static/set-up/install-agent-on-windows.md
Labels: type/docs, backport release-v0.33

#4088 Update Agent Flow Linux install topic
  docs/sources/flow/install/linux.md
Labels: type/docs, backport release-v0.33

#4105 Minor corrections to macOS Agent Static install
  docs/sources/static/set-up/install-agent-macos.md
Labels: type/docs, backport release-v0.33

#4108 Update macOS steps to fix Homebrew information and correct syntax
  docs/sources/static/set-up/install-agent-macos.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4116 Update macOS steps to fix Homebrew info and syntax (#4108)
  docs/sources/static/set-up/install-agent-macos.md
Labels: type/docs, backport

#4120 Update the nav title for app_agent_receiver_config
  docs/sources/static/configuration/integrations/integrations-next/app-agent-receiver-config.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4168 Docs: Fix broken link to Mimir Get started.
  docs/sources/static/set-up/quick-starts.md
Labels: type/docs, backport release-v0.32, backport release-v0.33, backport release-v0.34

#3828 Add a new Guide on using OTel to LGTM stack
  docs/sources/assets/getting-started/loki-config.png
  docs/sources/assets/getting-started/otlp-lgtm-graph.png
  docs/sources/assets/getting-started/prometheus-config.png
  docs/sources/assets/getting-started/tempo-config.png
  docs/sources/flow/getting-started/opentelemetry-to-lgtm-stack.md
Labels: type/docs

#4150 Add missing integrations in integrations-next docs
  docs/sources/static/configuration/integrations/integrations-next/_index.md
Labels: type/docs, backport release-v0.32, backport release-v0.33, backport release-v0.34

#4124 flow: Add Squid Exporter
  CHANGELOG.md
  component/all/all.go
  component/prometheus/exporter/squid/squid.go
  component/prometheus/exporter/squid/squid_test.go
  docs/sources/flow/reference/components/prometheus.exporter.squid.md
  pkg/integrations/squid_exporter/squid_exporter.go
  pkg/integrations/squid_exporter/squid_exporter_test.go
Labels: type/infrastructure

#4226 Clean up Install Agent Flow on Linux docs
  docs/sources/flow/install/linux.md
Labels: type/docs, backport release-v0.32, backport release-v0.33, backport release-v0.34

#4230 Clean up Install Agent Flow on Linux docs (#4226)
  docs/sources/flow/install/linux.md
Labels: type/docs

#4244 [Docs] Replace 'agent fmt' with 'grafana-agent fmt'
  docs/sources/flow/reference/cli/fmt.md
Labels: backport release-v0.32, backport release-v0.31, backport release-v0.33, backport release-v0.34

#4243 Backport #4192 to release-v0.30
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
Labels: type/docs

#4232 Reorganize the Agent Flow Install topics into single task topics
  docs/sources/flow/_index.md
  docs/sources/flow/install/_index.md
  docs/sources/flow/install/linux.md
  docs/sources/flow/install/macos.md
  docs/sources/flow/install/windows.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/setup/_index.md
  docs/sources/flow/setup/configure/_index.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport release-v0.32, backport release-v0.33, backport release-v0.34

#4272 Reorganize the Agent Flow Install topics into single task topics (#4232)
  docs/sources/flow/_index.md
  docs/sources/flow/install/_index.md
  docs/sources/flow/install/linux.md
  docs/sources/flow/install/macos.md
  docs/sources/flow/install/windows.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/setup/_index.md
  docs/sources/flow/setup/configure/_index.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs

#4282 Fix typo in Grafana Flow Windows installation instructions.
  docs/sources/flow/setup/install/windows.md
Labels: type/docs, backport release-v0.34

#4254 Add convert CLI command to grafana-agent
  CHANGELOG.md
  cmd/internal/flowmode/cmd_convert.go
  cmd/internal/flowmode/flowmode.go
  converter/converter.go
  converter/diag/diagnostics.go
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/cli/fmt.md
Labels: type/docs

#4273 Reorganize the Agent Flow Install topics into single task topics (#4232)
  docs/sources/flow/_index.md
  docs/sources/flow/install/_index.md
  docs/sources/flow/install/linux.md
  docs/sources/flow/install/macos.md
  docs/sources/flow/install/windows.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/setup/_index.md
  docs/sources/flow/setup/configure/_index.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs

#4290 Update Grafana Agent install, config, and start topics
  docs/sources/_index.md
  docs/sources/flow/_index.md
  docs/sources/flow/setup/_index.md
  docs/sources/flow/setup/configure/_index.md
  docs/sources/flow/setup/configure/configure-kubernetes.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4309 Update Grafana Agent install, config, and start topics (#4290)
  docs/sources/_index.md
  docs/sources/flow/_index.md
  docs/sources/flow/setup/_index.md
  docs/sources/flow/setup/configure/_index.md
  docs/sources/flow/setup/configure/configure-kubernetes.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport
