Repository grafana/agent, pull requests merged in 2023-02, with the labels that each got.

#2890 Snyk Workflow add
  .github/workflows/snyk.yml
Labels: security

#2942 Operator: Update prometheus-config-reloader to v0.62.0
  CHANGELOG.md
  pkg/operator/resources_pod_template.go
Labels: operator

#2924 Add overview task table
  docs/sources/_index.md
  docs/sources/about-agent/_index.md
Labels: type/docs
