Repository grafana/agent, pull requests merged in 2023-12, with the labels that each got.

#5913 doc(flow/ref/comp): remove nonsensical ref in otelcol.processor.filter
  docs/sources/flow/reference/components/otelcol.processor.filter.md
Labels: type/docs, backport release-v0.38

#5915 Fix broken OTTL context links in otelcol.processor.filter topic
  docs/sources/flow/reference/components/otelcol.processor.filter.md
Labels: type/docs, backport release-v0.38

#5909 Update Getting started topics for style, syntax, layout, spacing
  docs/sources/flow/config-language/expressions/types_and_values.md
  docs/sources/flow/getting-started/collect-opentelemetry-data.md
  docs/sources/flow/getting-started/collect-prometheus-metrics.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/flow/getting-started/migrating-from-operator.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/migrating-from-static.md
  docs/sources/flow/getting-started/opentelemetry-to-lgtm-stack.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs

#5933 chore(deps): remove minio dependency
  component/faro/receiver/sourcemaps.go
  go.mod
  go.sum
  pkg/integrations/v2/app_agent_receiver/utils.go
  pkg/util/wildcard/match.go
  pkg/util/wildcard/match_test.go
Labels: app-agent-receiver

#5767 Add HTTPClientConfig to discovery.ec2 and add a simple test
  CHANGELOG.md
  component/discovery/aws/ec2.go
  component/discovery/aws/ec2_test.go
  docs/sources/flow/reference/components/discovery.ec2.md
Labels: type/docs

#5938 Fix missing codefence in otelcol.receiver.vcenter
  docs/sources/flow/reference/components/otelcol.receiver.vcenter.md
Labels: type/docs

#5941 otelcol.connector.servicegraph: update default store ttl value
  CHANGELOG.md
  component/otelcol/connector/servicegraph/servicegraph.go
  component/otelcol/connector/servicegraph/servicegraph_test.go
  docs/sources/flow/reference/components/otelcol.connector.servicegraph.md
Labels: type/docs

#5804 Add graceful shutdown to `loki.write` draining the WAL
  CHANGELOG.md
  component/common/loki/client/manager.go
  component/common/loki/client/queue_client.go
  component/common/loki/wal/config.go
  component/common/loki/wal/internal/watcher_state.go
  component/common/loki/wal/watcher.go
  component/common/loki/wal/watcher_test.go
  component/loki/write/types.go
  component/loki/write/write.go
  component/loki/write/write_test.go
  docs/sources/flow/reference/components/loki.write.md
Labels: type/docs

#5975 Replace < with % in var references in headings
  docs/sources/flow/_index.md
  docs/sources/flow/getting-started/_index.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/migrating-from-operator.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/migrating-from-static.md
  docs/sources/flow/monitoring/_index.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/reference/_index.md
  docs/sources/flow/reference/cli/_index.md
  docs/sources/flow/release-notes.md
  docs/sources/flow/setup/_index.md
  docs/sources/flow/setup/configure/_index.md
  docs/sources/flow/setup/configure/configure-kubernetes.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport release-v0.38

#5714 Add support for native Prometheus histograms
  CHANGELOG.md
  component/otelcol/exporter/prometheus/internal/convert/cache.go
  component/otelcol/exporter/prometheus/internal/convert/convert.go
  component/otelcol/exporter/prometheus/internal/convert/convert_test.go
  component/otelcol/exporter/prometheus/internal/convert/histograms.go
  docs/sources/flow/reference/components/otelcol.exporter.prometheus.md
  integration-tests/tests/otlp-metrics/config.river
  integration-tests/tests/otlp-metrics/otlp_metrics_test.go
  integration-tests/tests/otlp-metrics/otlp_to_prom_metrics_test.go
  pkg/util/testappender/internal/dtobuilder/dtobuilder.go
  pkg/util/testappender/testappender.go
Labels: type/docs

#5956 Update the Agent Concepts topics
  docs/sources/assets/concepts_example_pipeline.svg
  docs/sources/assets/flow_referencing_exports_diagram.svg
  docs/sources/flow/concepts/_index.md
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/component_controller.md
  docs/sources/flow/concepts/components.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/concepts/modules.md
  docs/sources/flow/config-language/_index.md
  docs/sources/flow/config-language/components.md
  docs/sources/flow/config-language/expressions/_index.md
  docs/sources/flow/config-language/expressions/function_calls.md
  docs/sources/flow/config-language/expressions/operators.md
  docs/sources/flow/config-language/expressions/referencing_exports.md
  docs/sources/flow/config-language/expressions/types_and_values.md
  docs/sources/flow/config-language/files.md
  docs/sources/flow/config-language/syntax.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-static.md
Labels: type/docs

#5976 Fixed link to OpenTelemetry Collector Contrib in otelcol.receiver.vcenter
  docs/sources/flow/reference/components/otelcol.receiver.vcenter.md
Labels: type/docs, backport release-v0.38

#5924 Log: Add 'country' to geoip pipeline-stage
  CHANGELOG.md
  component/loki/process/stages/geoip.go
  component/loki/process/stages/geoip_test.go
  component/loki/process/stages/testdata/geoip_maxmind_asn.mmdb
  component/loki/process/stages/testdata/geoip_maxmind_city.mmdb
  component/loki/process/stages/testdata/geoip_maxmind_country.mmdb
  component/loki/process/stages/testdata/geoip_source.json
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs

#5979 Update the Agent Concepts topics (#5956)
  docs/sources/assets/concepts_example_pipeline.svg
  docs/sources/assets/flow_referencing_exports_diagram.svg
  docs/sources/flow/concepts/_index.md
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/component_controller.md
  docs/sources/flow/concepts/components.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/concepts/modules.md
  docs/sources/flow/config-language/_index.md
  docs/sources/flow/config-language/components.md
  docs/sources/flow/config-language/expressions/_index.md
  docs/sources/flow/config-language/expressions/function_calls.md
  docs/sources/flow/config-language/expressions/operators.md
  docs/sources/flow/config-language/expressions/referencing_exports.md
  docs/sources/flow/config-language/expressions/types_and_values.md
  docs/sources/flow/config-language/files.md
  docs/sources/flow/config-language/syntax.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-static.md
Labels: type/docs, backport

#5982 Replace < with % in var references in headings (#5975)
  docs/sources/flow/_index.md
  docs/sources/flow/getting-started/_index.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/migrating-from-operator.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/migrating-from-static.md
  docs/sources/flow/monitoring/_index.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/reference/_index.md
  docs/sources/flow/reference/cli/_index.md
  docs/sources/flow/release-notes.md
  docs/sources/flow/setup/_index.md
  docs/sources/flow/setup/configure/_index.md
  docs/sources/flow/setup/configure/configure-kubernetes.md
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport

#5973 Wire up support for converting integrations-next configs to flow.
  CHANGELOG.md
  cmd/internal/flowmode/cmd_convert.go
  cmd/internal/flowmode/cmd_convert_test.go
  cmd/internal/flowmode/cmd_run.go
  converter/internal/staticconvert/staticconvert.go
  converter/internal/staticconvert/staticconvert_test.go
  converter/internal/staticconvert/testdata-v2/integrations_v2.river
  converter/internal/staticconvert/testdata-v2/integrations_v2.yaml
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/migrating-from-static.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/cli/run.md
Labels: type/docs

#6009 doc(prom/scrape): correct reference for `__param_` label in
  docs/sources/flow/reference/components/prometheus.scrape.md
  go.mod
Labels: type/docs
