Repository grafana/agent, pull requests merged in 2023-08, with the labels that each got.

#4679 Fix or remove obsolete links in Agent static mode
  docs/sources/static/_index.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4686 Document positions file usage in loki.source.docker.md
  docs/sources/flow/reference/components/loki.source.docker.md
Labels: type/docs

#4697 Update the Agent CLI topics to clarify flow mode syntax
  docs/sources/flow/reference/cli/_index.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/cli/fmt.md
  docs/sources/flow/reference/cli/run.md
  docs/sources/flow/reference/cli/tools.md
Labels: type/docs, backport release-v0.35

#4710 Update the Agent CLI topics to clarify flow mode syntax (#4697)
  docs/sources/flow/reference/cli/_index.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/cli/fmt.md
  docs/sources/flow/reference/cli/run.md
  docs/sources/flow/reference/cli/tools.md
Labels: type/docs, backport

#4711 Agent tutorials: Move binary images to GCS and update metadata
  docs/sources/flow/tutorials/assets/agent_build_info.png
  docs/sources/flow/tutorials/assets/comp_info.png
  docs/sources/flow/tutorials/assets/filter.png
  docs/sources/flow/tutorials/assets/graph.png
  docs/sources/flow/tutorials/assets/multiple.png
  docs/sources/flow/tutorials/assets/scrape_v2.png
  docs/sources/flow/tutorials/assets/transition.png
  docs/sources/flow/tutorials/chaining.md
  docs/sources/flow/tutorials/collecting-prometheus-metrics.md
  docs/sources/flow/tutorials/filtering-metrics.md
Labels: type/docs, backport release-v0.35

#4755 Remove copy paste error - static install on Linux uses flow in some places
  docs/sources/static/set-up/install/install-agent-linux.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4705 YACE dimension_name_requirements support
  CHANGELOG.md
  component/prometheus/exporter/cloudwatch/config.go
  component/prometheus/exporter/cloudwatch/config_test.go
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/static/configuration/integrations/cloudwatch-exporter-config.md
  pkg/integrations/cloudwatch_exporter/config.go
  pkg/integrations/cloudwatch_exporter/config_test.go
Labels: type/docs

#4758 Backport 4755 to release v0.33
  docs/sources/static/set-up/install/install-agent-linux.md
Labels: type/docs, backport

#4783 Update Upgrade Guide metadata and text and convert to Release notes
  docs/sources/flow/release-notes.md
  docs/sources/operator/release-notes.md
  docs/sources/static/release-notes.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4793 Update Upgrade Guide metadata and text and convert to Release notes (…
  docs/sources/flow/release-notes.md
  docs/sources/operator/release-notes.md
  docs/sources/static/release-notes.md
Labels: type/docs, backport

#4794 Update Upgrade Guide metadata and text and convert to Release notes (…
  docs/sources/flow/release-notes.md
  docs/sources/operator/release-notes.md
  docs/sources/static/release-notes.md
Labels: type/docs, backport

#4787 clarify loki source file doesn't handle discovery
  CHANGELOG.md
  docs/sources/flow/reference/components/loki.source.file.md
Labels: type/docs, backport release-v0.35

#4811 Add examples to flow reference showing Grafana Cloud (#4799)
  docs/sources/flow/reference/components/loki.write.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
Labels: type/docs, backport

#4608 clustering: enable refreshing the list of peers on an interval
  CHANGELOG.md
  cmd/internal/flowmode/cmd_run.go
  docs/sources/flow/reference/cli/run.md
  go.mod
  go.sum
  pkg/cluster/cluster.go
  pkg/cluster/gossip.go
  pkg/cluster/gossip_test.go
Labels: type/docs

#4706 Update otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4615 Add an otelcol.processor.discovery component
  CHANGELOG.md
  component/all/all.go
  component/otelcol/processor/discovery/discovery.go
  component/otelcol/processor/discovery/discovery_test.go
  docs/sources/flow/reference/components/otelcol.processor.discovery.md
  pkg/traces/config.go
  pkg/traces/promsdprocessor/consumer/consumer.go
  pkg/traces/promsdprocessor/consumer/consumer_test.go
  pkg/traces/promsdprocessor/factory.go
  pkg/traces/promsdprocessor/prom_sd_processor.go
  pkg/traces/promsdprocessor/prom_sd_processor_test.go
Labels: type/docs

#4853 docs: extract exporter Exports section to a shared snippet
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
  docs/sources/flow/reference/components/prometheus.exporter.elasticsearch.md
  docs/sources/flow/reference/components/prometheus.exporter.gcp.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.kafka.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mongodb.md
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.oracledb.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.snowflake.md
  docs/sources/flow/reference/components/prometheus.exporter.squid.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
  docs/sources/shared/flow/reference/components/exporters-components-exports.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4814 Update cross reference syntax in Agent static mode documentation
  .github/workflows/check_docs.yml
  docs/sources/flow/release-notes.md
  docs/sources/static/_index.md
  docs/sources/static/api/_index.md
  docs/sources/static/configuration/_index.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/configuration/metrics-config.md
  docs/sources/static/configuration/scraping-service.md
  docs/sources/static/configuration/traces-config.md
  docs/sources/static/operation-guide/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-binary.md
  docs/sources/static/set-up/install/install-agent-docker.md
  docs/sources/static/set-up/install/install-agent-linux.md
  docs/sources/static/set-up/install/install-agent-macos.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  docs/sources/static/set-up/start-agent.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4875 docs: extract exporter Exports section to a shared snippet (#4853)
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
  docs/sources/shared/flow/reference/components/exporter-component-exports.md
Labels: type/docs, backport

#4874 docs: extract exporter Exports section to a shared snippet (#4853)
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.oracledb.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.snowflake.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
  docs/sources/shared/flow/reference/components/exporter-component-exports.md
Labels: type/docs, backport

#4890 Converter static integration3
  converter/internal/common/common.go
  converter/internal/prometheusconvert/azure.go
  converter/internal/prometheusconvert/common.go
  converter/internal/prometheusconvert/consul.go
  converter/internal/prometheusconvert/digitalocean.go
  converter/internal/prometheusconvert/dns.go
  converter/internal/prometheusconvert/docker.go
  converter/internal/prometheusconvert/ec2.go
  converter/internal/prometheusconvert/file.go
  converter/internal/prometheusconvert/gce.go
  converter/internal/prometheusconvert/kubernetes.go
  converter/internal/prometheusconvert/lightsail.go
  converter/internal/staticconvert/internal/build/apache_exporter.go
  converter/internal/staticconvert/internal/build/blackbox_exporter.go
  converter/internal/staticconvert/internal/build/builder.go
  converter/internal/staticconvert/internal/build/cloudwatch_exporter.go
  converter/internal/staticconvert/internal/build/consul_exporter.go
  converter/internal/staticconvert/internal/build/dnsmasq_exporter.go
  converter/internal/staticconvert/internal/build/elasticsearch_exporter.go
  converter/internal/staticconvert/internal/build/gcp_exporter.go
  converter/internal/staticconvert/internal/build/github_exporter.go
  converter/internal/staticconvert/internal/build/kafka_exporter.go
  converter/internal/staticconvert/internal/build/memcached_exporter.go
  converter/internal/staticconvert/internal/build/mongodb_exporter.go
  converter/internal/staticconvert/internal/build/mssql_exporter.go
  converter/internal/staticconvert/internal/build/mysqld_exporter.go
  converter/internal/staticconvert/internal/build/node_exporter.go
  converter/internal/staticconvert/internal/build/oracledb_exporter.go
  converter/internal/staticconvert/internal/build/postgres_exporter.go
  converter/internal/staticconvert/internal/build/process_exporter.go
  converter/internal/staticconvert/internal/build/redis_exporter.go
  converter/internal/staticconvert/internal/build/snmp_exporter.go
  converter/internal/staticconvert/internal/build/snowflake_exporter.go
  converter/internal/staticconvert/internal/build/squid_exporter.go
  converter/internal/staticconvert/internal/build/statsd_exporter.go
  converter/internal/staticconvert/internal/build/windows_exporter.go
  converter/internal/staticconvert/testdata/integrations.diags
  converter/internal/staticconvert/testdata/integrations.river
  converter/internal/staticconvert/testdata/integrations.yaml
  converter/internal/staticconvert/testdata/sanitize.diags
  converter/internal/staticconvert/testdata/sanitize.river
  converter/internal/staticconvert/testdata/unsupported.diags
  converter/internal/staticconvert/testdata/unsupported.river
  converter/internal/staticconvert/testdata/unsupported.yaml
  converter/internal/staticconvert/validate.go
  docs/sources/flow/reference/components/prometheus.exporter.mongodb.md
  docs/sources/static/configuration/integrations/oracledb-config.md
Labels: type/docs

#4903 Update cross reference syntax in Agent static mode documentation (#4814)
  .github/workflows/check_docs.yml
  docs/sources/flow/release-notes.md
  docs/sources/static/_index.md
  docs/sources/static/api/_index.md
  docs/sources/static/configuration/_index.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/configuration/metrics-config.md
  docs/sources/static/configuration/scraping-service.md
  docs/sources/static/configuration/traces-config.md
  docs/sources/static/operation-guide/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-binary.md
  docs/sources/static/set-up/install/install-agent-docker.md
  docs/sources/static/set-up/install/install-agent-linux.md
  docs/sources/static/set-up/install/install-agent-macos.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  docs/sources/static/set-up/start-agent.md
Labels: type/docs, backport

#4908 Add note about traces and fix note syntax
  docs/sources/operator/_index.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4926 Add workflow dispatch
  .github/workflows/publish-documentation-versioned.yml
Labels: backport release-v0.33, backport release-v0.34, backport release-v0.35

#4904 Update cross reference syntax in Agent static mode documentation (#4814)
  .github/workflows/check_docs.yml
  docs/sources/flow/release-notes.md
  docs/sources/static/_index.md
  docs/sources/static/api/_index.md
  docs/sources/static/configuration/_index.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/configuration/metrics-config.md
  docs/sources/static/configuration/scraping-service.md
  docs/sources/static/configuration/traces-config.md
  docs/sources/static/operation-guide/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-binary.md
  docs/sources/static/set-up/install/install-agent-docker.md
  docs/sources/static/set-up/install/install-agent-linux.md
  docs/sources/static/set-up/install/install-agent-macos.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  docs/sources/static/set-up/start-agent.md
Labels: type/docs, backport

#4905 Update cross reference syntax in Agent static mode documentation (#4814)
  .github/workflows/check_docs.yml
  docs/sources/flow/release-notes.md
  docs/sources/static/_index.md
  docs/sources/static/api/_index.md
  docs/sources/static/configuration/_index.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/configuration/metrics-config.md
  docs/sources/static/configuration/scraping-service.md
  docs/sources/static/configuration/traces-config.md
  docs/sources/static/operation-guide/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-binary.md
  docs/sources/static/set-up/install/install-agent-docker.md
  docs/sources/static/set-up/install/install-agent-linux.md
  docs/sources/static/set-up/install/install-agent-macos.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  docs/sources/static/set-up/start-agent.md
Labels: type/docs, backport

#4906 Update and remove duplicated titles
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/config-language/components.md
  docs/sources/flow/getting-started/collect-prometheus-metrics.md
  docs/sources/flow/reference/components/_index.md
  docs/sources/static/configuration/integrations/integrations-next/_index.md
  docs/sources/static/configuration/integrations/integrations-next/app-agent-receiver-config.md
  docs/sources/static/configuration/integrations/integrations-next/blackbox-config.md
  docs/sources/static/configuration/integrations/integrations-next/eventhandler-config.md
  docs/sources/static/configuration/integrations/integrations-next/snmp-config.md
  docs/sources/static/configuration/integrations/integrations-next/vsphere-config.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4968 Fix typo
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4966 Fix elasticsearch flow component usage example
  docs/sources/flow/reference/components/prometheus.exporter.elasticsearch.md
Labels: type/docs, backport release-v0.35

#4952 [Docs] Fix and add a few links
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/operator/_index.md
  docs/sources/operator/deploy-agent-operator-resources.md
Labels: type/docs, backport release-v0.35

#4978 Fix broken links
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/_index.md
  docs/sources/static/set-up/install/install-agent-kubernetes.md
  docs/sources/static/set-up/quick-starts.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4981 Fix broken links (#4978)
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/_index.md
  docs/sources/static/set-up/install/install-agent-kubernetes.md
  docs/sources/static/set-up/quick-starts.md
Labels: type/docs, backport

#4976 Fix elasticsearch flow component usage example (#4966)
  docs/sources/flow/reference/components/prometheus.exporter.elasticsearch.md
Labels: type/docs, backport

#4977 [Docs] Fix and add a few links (#4952)
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/operator/_index.md
  docs/sources/operator/deploy-agent-operator-resources.md
Labels: type/docs, backport

#4983 correct docs for max_streams
  docs/sources/flow/reference/components/loki.write.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4997 docs: address feedback on http config block
  docs/sources/flow/reference/config-blocks/http.md
Labels: type/docs

#5022 Update index weight
  docs/sources/_index.md
Labels: type/docs, backport release-v0.35

#4975 chore: add contextual attributes to faro measurement
  CHANGELOG.md
  pkg/integrations/v2/app_agent_receiver/logs_exporter_test.go
  pkg/integrations/v2/app_agent_receiver/payload.go
  pkg/integrations/v2/app_agent_receiver/payload_test.go
  pkg/integrations/v2/app_agent_receiver/testdata/payload.json
Labels: app-agent-receiver, go

#5018 [release-v0.35] Update `docs/shared` shortcode usage to use keyword argument interface
  docs/sources/flow/reference/components/discovery.azure.md
  docs/sources/flow/reference/components/discovery.consul.md
  docs/sources/flow/reference/components/discovery.docker.md
  docs/sources/flow/reference/components/discovery.http.md
  docs/sources/flow/reference/components/discovery.kubelet.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.relabel.md
  docs/sources/flow/reference/components/local.file.md
  docs/sources/flow/reference/components/loki.echo.md
  docs/sources/flow/reference/components/loki.relabel.md
  docs/sources/flow/reference/components/loki.source.api.md
  docs/sources/flow/reference/components/loki.source.awsfirehose.md
  docs/sources/flow/reference/components/loki.source.gcplog.md
  docs/sources/flow/reference/components/loki.source.heroku.md
  docs/sources/flow/reference/components/loki.source.kafka.md
  docs/sources/flow/reference/components/loki.source.kubernetes.md
  docs/sources/flow/reference/components/loki.source.kubernetes_events.md
  docs/sources/flow/reference/components/loki.source.podlogs.md
  docs/sources/flow/reference/components/loki.source.syslog.md
  docs/sources/flow/reference/components/loki.write.md
  docs/sources/flow/reference/components/mimir.rules.kubernetes.md
  docs/sources/flow/reference/components/module.file.md
  docs/sources/flow/reference/components/module.git.md
  docs/sources/flow/reference/components/module.http.md
  docs/sources/flow/reference/components/module.string.md
  docs/sources/flow/reference/components/otelcol.auth.oauth2.md
  docs/sources/flow/reference/components/otelcol.exporter.jaeger.md
  docs/sources/flow/reference/components/otelcol.exporter.loadbalancing.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/flow/reference/components/otelcol.processor.attributes.md
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.processor.tail_sampling.md
  docs/sources/flow/reference/components/otelcol.receiver.jaeger.md
  docs/sources/flow/reference/components/otelcol.receiver.kafka.md
  docs/sources/flow/reference/components/otelcol.receiver.loki.md
  docs/sources/flow/reference/components/otelcol.receiver.opencensus.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  docs/sources/flow/reference/components/otelcol.receiver.prometheus.md
  docs/sources/flow/reference/components/otelcol.receiver.zipkin.md
  docs/sources/flow/reference/components/prometheus.operator.podmonitors.md
  docs/sources/flow/reference/components/prometheus.operator.probes.md
  docs/sources/flow/reference/components/prometheus.operator.servicemonitors.md
  docs/sources/flow/reference/components/prometheus.receive_http.md
  docs/sources/flow/reference/components/prometheus.relabel.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/flow/reference/components/prometheus.scrape.md
  docs/sources/flow/reference/components/pyroscope.ebpf.md
  docs/sources/flow/reference/components/pyroscope.scrape.md
  docs/sources/flow/reference/components/pyroscope.write.md
  docs/sources/flow/reference/components/remote.http.md
Labels: type/docs

#5017 [release-v0.34] Update `docs/shared` shortcode usage to use keyword argument interface
  docs/sources/flow/reference/components/discovery.azure.md
  docs/sources/flow/reference/components/discovery.consul.md
  docs/sources/flow/reference/components/discovery.docker.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.relabel.md
  docs/sources/flow/reference/components/local.file.md
  docs/sources/flow/reference/components/loki.echo.md
  docs/sources/flow/reference/components/loki.relabel.md
  docs/sources/flow/reference/components/loki.source.api.md
  docs/sources/flow/reference/components/loki.source.awsfirehose.md
  docs/sources/flow/reference/components/loki.source.gcplog.md
  docs/sources/flow/reference/components/loki.source.heroku.md
  docs/sources/flow/reference/components/loki.source.kafka.md
  docs/sources/flow/reference/components/loki.source.kubernetes.md
  docs/sources/flow/reference/components/loki.source.kubernetes_events.md
  docs/sources/flow/reference/components/loki.source.podlogs.md
  docs/sources/flow/reference/components/loki.source.syslog.md
  docs/sources/flow/reference/components/loki.write.md
  docs/sources/flow/reference/components/mimir.rules.kubernetes.md
  docs/sources/flow/reference/components/module.file.md
  docs/sources/flow/reference/components/module.git.md
  docs/sources/flow/reference/components/module.string.md
  docs/sources/flow/reference/components/otelcol.auth.oauth2.md
  docs/sources/flow/reference/components/otelcol.exporter.jaeger.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.processor.tail_sampling.md
  docs/sources/flow/reference/components/otelcol.receiver.jaeger.md
  docs/sources/flow/reference/components/otelcol.receiver.kafka.md
  docs/sources/flow/reference/components/otelcol.receiver.loki.md
  docs/sources/flow/reference/components/otelcol.receiver.opencensus.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  docs/sources/flow/reference/components/otelcol.receiver.prometheus.md
  docs/sources/flow/reference/components/otelcol.receiver.zipkin.md
  docs/sources/flow/reference/components/prometheus.operator.podmonitors.md
  docs/sources/flow/reference/components/prometheus.operator.servicemonitors.md
  docs/sources/flow/reference/components/prometheus.receive_http.md
  docs/sources/flow/reference/components/prometheus.relabel.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/flow/reference/components/prometheus.scrape.md
  docs/sources/flow/reference/components/pyroscope.scrape.md
  docs/sources/flow/reference/components/pyroscope.write.md
  docs/sources/flow/reference/components/remote.http.md
Labels: type/docs

#5035 Update phlare references (#4987)
  docs/make-docs
  docs/sources/_index.md
  docs/sources/about.md
  docs/sources/flow/reference/components/pyroscope.write.md
Labels: type/docs, backport

#5015 [release-v0.32] Update `docs/shared` shortcode usage to use keyword argument interface
  docs/sources/flow/reference/components/discovery.docker.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.relabel.md
  docs/sources/flow/reference/components/loki.echo.md
  docs/sources/flow/reference/components/loki.relabel.md
  docs/sources/flow/reference/components/loki.source.kafka.md
  docs/sources/flow/reference/components/loki.source.kubernetes.md
  docs/sources/flow/reference/components/loki.source.kubernetes_events.md
  docs/sources/flow/reference/components/loki.source.podlogs.md
  docs/sources/flow/reference/components/loki.source.syslog.md
  docs/sources/flow/reference/components/loki.write.md
  docs/sources/flow/reference/components/mimir.rules.kubernetes.md
  docs/sources/flow/reference/components/otelcol.exporter.jaeger.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.processor.tail_sampling.md
  docs/sources/flow/reference/components/otelcol.receiver.jaeger.md
  docs/sources/flow/reference/components/otelcol.receiver.kafka.md
  docs/sources/flow/reference/components/otelcol.receiver.loki.md
  docs/sources/flow/reference/components/otelcol.receiver.opencensus.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  docs/sources/flow/reference/components/otelcol.receiver.prometheus.md
  docs/sources/flow/reference/components/otelcol.receiver.zipkin.md
  docs/sources/flow/reference/components/phlare.scrape.md
  docs/sources/flow/reference/components/phlare.write.md
  docs/sources/flow/reference/components/prometheus.relabel.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/flow/reference/components/prometheus.scrape.md
  docs/sources/flow/reference/components/remote.http.md
Labels: type/docs

#5014 [release-v0.31] Update `docs/shared` shortcode usage to use keyword argument interface
  docs/sources/flow/reference/components/discovery.docker.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.relabel.md
  docs/sources/flow/reference/components/loki.relabel.md
  docs/sources/flow/reference/components/loki.source.journal.md
  docs/sources/flow/reference/components/loki.source.kubernetes.md
  docs/sources/flow/reference/components/loki.source.podlogs.md
  docs/sources/flow/reference/components/loki.source.syslog.md
  docs/sources/flow/reference/components/loki.write.md
  docs/sources/flow/reference/components/mimir.rules.kubernetes.md
  docs/sources/flow/reference/components/otelcol.exporter.jaeger.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.receiver.jaeger.md
  docs/sources/flow/reference/components/otelcol.receiver.kafka.md
  docs/sources/flow/reference/components/otelcol.receiver.loki.md
  docs/sources/flow/reference/components/otelcol.receiver.opencensus.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  docs/sources/flow/reference/components/otelcol.receiver.prometheus.md
  docs/sources/flow/reference/components/otelcol.receiver.zipkin.md
  docs/sources/flow/reference/components/phlare.scrape.md
  docs/sources/flow/reference/components/phlare.write.md
  docs/sources/flow/reference/components/prometheus.relabel.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/flow/reference/components/prometheus.scrape.md
  docs/sources/flow/reference/components/remote.http.md
Labels: type/docs

#5012 [release-v0.29] Update `docs/shared` shortcode usage to use keyword argument interface
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.relabel.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.receiver.jaeger.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  docs/sources/flow/reference/components/otelcol.receiver.prometheus.md
  docs/sources/flow/reference/components/prometheus.relabel.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/flow/reference/components/prometheus.scrape.md
Labels: type/docs

#5013 [release-v0.30] Update `docs/shared` shortcode usage to use keyword argument interface
  docs/sources/flow/reference/components/discovery.docker.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.relabel.md
  docs/sources/flow/reference/components/loki.relabel.md
  docs/sources/flow/reference/components/loki.write.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.receiver.jaeger.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  docs/sources/flow/reference/components/otelcol.receiver.prometheus.md
  docs/sources/flow/reference/components/prometheus.relabel.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/flow/reference/components/prometheus.scrape.md
  docs/sources/flow/reference/components/remote.http.md
Labels: type/docs

#5050 Remove reference to `mode` in the Agent scraping service document.
  docs/sources/static/configuration/scraping-service.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5053 [release-v0.34] Remove reference to `mode` in the Agent scraping service document.
  docs/sources/static/configuration/scraping-service.md
Labels: type/docs, backport

#5020 Fix bump-formula-pr to run on linux runners
  .github/workflows/bump-formula-pr.yml
Labels: backport release-v0.36
