Repository grafana/agent, pull requests merged in 2023-10, with the labels that each got.

#5260 [Agent Management] Add Handling for HTTP 304 Not Modified Response
  docs/sources/static/configuration/agent-management.md
  pkg/config/agentmanagement.go
  pkg/config/agentmanagement_test.go
  pkg/config/config.go
  pkg/config/remote_config.go
  pkg/config/remote_config_test.go
Labels: type/docs

#5352 Fix some build errors related to mounted content
  docs/sources/_index.md
  docs/sources/about.md
  docs/sources/operator/release-notes.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-binary.md
Labels: type/docs

#5353 [release-v0.36] Fix some build errors related to mounted content
  docs/sources/_index.md
  docs/sources/about.md
  docs/sources/operator/release-notes.md
  docs/sources/static/configuration/create-config-file.md
  docs/sources/static/configuration/flags.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-binary.md
Labels: type/docs, backport

#5357 Fix broken link in Agent Operator docs
  docs/sources/operator/helm-getting-started.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5354 Change Promtail Reference to Static Mode in migrating-from-static.md
  docs/sources/flow/getting-started/migrating-from-static.md
Labels: type/docs

#5337 Add a otelcol.processor.transform component
  CHANGELOG.md
  component/all/all.go
  component/otelcol/processor/transform/transform.go
  component/otelcol/processor/transform/transform_test.go
  docs/developer/writing-flow-component-documentation.md
  docs/sources/flow/reference/components/otelcol.processor.transform.md
  go.mod
  go.sum
Labels: type/docs

#5307 flow: add a `prometheus.exporter.cadvisor` component
  CHANGELOG.md
  component/all/all.go
  component/prometheus/exporter/cadvisor/cadvisor.go
  component/prometheus/exporter/cadvisor/cadvisor_test.go
  converter/internal/staticconvert/internal/build/builder.go
  converter/internal/staticconvert/internal/build/cadvisor_exporter.go
  converter/internal/staticconvert/testdata/integrations.river
  converter/internal/staticconvert/testdata/integrations.yaml
  converter/internal/staticconvert/testdata/unsupported.diags
  converter/internal/staticconvert/testdata/unsupported.yaml
  converter/internal/staticconvert/validate.go
  docs/sources/flow/reference/components/prometheus.exporter.cadvisor.md
  go.mod
  go.sum
  pkg/integrations/cadvisor/cadvisor.go
  pkg/integrations/cadvisor/common.go
Labels: type/docs

#5289 Use newer version of GitHub exporter
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/static/configuration/integrations/github-exporter-config.md
  go.mod
  go.sum
  pkg/integrations/github_exporter/github_exporter.go
Labels: type/docs

#5325 docs: add page about deployment topologies
  docs/sources/flow/setup/deploy-agent.md
  docs/sources/shared/deploy-agent.md
  docs/sources/static/set-up/deploy-agent.md
Labels: type/docs

#5314 Add faro.receiver component
  CHANGELOG.md
  component/all/all.go
  component/faro/receiver/arguments.go
  component/faro/receiver/exporters.go
  component/faro/receiver/exporters_test.go
  component/faro/receiver/handler.go
  component/faro/receiver/handler_test.go
  component/faro/receiver/internal/payload/payload.go
  component/faro/receiver/internal/payload/payload_test.go
  component/faro/receiver/internal/payload/utils.go
  component/faro/receiver/receiver.go
  component/faro/receiver/receiver_test.go
  component/faro/receiver/server.go
  component/faro/receiver/sourcemaps.go
  component/faro/receiver/sourcemaps_test.go
  component/faro/receiver/testdata/foo.js
  component/faro/receiver/testdata/foo.js.map
  component/faro/receiver/testdata/payload.json
  component/faro/receiver/testdata/payload_2.json
  docs/sources/flow/reference/components/faro.receiver.md
Labels: type/docs

#5283 Update redis exporter to 1.54.0
  CHANGELOG.md
  component/prometheus/exporter/redis/redis.go
  component/prometheus/exporter/redis/redis_test.go
  converter/internal/staticconvert/internal/build/redis_exporter.go
  converter/internal/staticconvert/testdata/integrations.river
  converter/internal/staticconvert/testdata/integrations.yaml
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/static/configuration/integrations/redis-exporter-config.md
  go.mod
  go.sum
  pkg/integrations/redis_exporter/redis_exporter.go
  pkg/integrations/redis_exporter/redis_exporter_test.go
Labels: type/docs

#5368 SigV4 and AzureAD authentication support for `prometheus.remote_write`
  CHANGELOG.md
  component/prometheus/remotewrite/types.go
  component/prometheus/remotewrite/types_test.go
  converter/internal/prometheusconvert/remote_write.go
  converter/internal/prometheusconvert/testdata/scrape.river
  converter/internal/prometheusconvert/testdata/scrape.yaml
  converter/internal/prometheusconvert/testdata/unsupported.diags
  converter/internal/prometheusconvert/testdata/unsupported.yaml
  converter/internal/staticconvert/testdata/prom_remote_write.river
  converter/internal/staticconvert/testdata/prom_remote_write.yaml
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/shared/flow/reference/components/azuread-block.md
  docs/sources/shared/flow/reference/components/managed_identity-block.md
  docs/sources/shared/flow/reference/components/sigv4-block.md
Labels: type/docs

#5328 docs: add section on prometheus.remote_write data retention
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/shared/wal-data-retention.md
  docs/sources/static/configuration/metrics-config.md
Labels: type/docs

#5371 clarify migration usage guide limitation for metamonitoring metric names
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
Labels: type/docs

#5326 discovery.kubernetes docs: add example for node filtering
  docs/sources/flow/reference/components/discovery.kubernetes.md
Labels: type/docs

#5377 Fix header weight for "Debug metrics"
  docs/sources/flow/reference/components/discovery.azure.md
  docs/sources/flow/reference/components/discovery.consul.md
  docs/sources/flow/reference/components/discovery.consulagent.md
  docs/sources/flow/reference/components/discovery.digitalocean.md
  docs/sources/flow/reference/components/discovery.dns.md
  docs/sources/flow/reference/components/discovery.docker.md
  docs/sources/flow/reference/components/discovery.dockerswarm.md
  docs/sources/flow/reference/components/discovery.ec2.md
  docs/sources/flow/reference/components/discovery.eureka.md
  docs/sources/flow/reference/components/discovery.file.md
  docs/sources/flow/reference/components/discovery.gce.md
  docs/sources/flow/reference/components/discovery.hetzner.md
  docs/sources/flow/reference/components/discovery.http.md
  docs/sources/flow/reference/components/discovery.ionos.md
  docs/sources/flow/reference/components/discovery.kubelet.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.kuma.md
  docs/sources/flow/reference/components/discovery.lightsail.md
  docs/sources/flow/reference/components/discovery.linode.md
  docs/sources/flow/reference/components/discovery.marathon.md
  docs/sources/flow/reference/components/discovery.nerve.md
  docs/sources/flow/reference/components/discovery.nomad.md
  docs/sources/flow/reference/components/discovery.openstack.md
  docs/sources/flow/reference/components/discovery.puppetdb.md
  docs/sources/flow/reference/components/discovery.relabel.md
  docs/sources/flow/reference/components/discovery.scaleway.md
  docs/sources/flow/reference/components/discovery.serverset.md
  docs/sources/flow/reference/components/discovery.triton.md
  docs/sources/flow/reference/components/discovery.uyuni.md
  docs/sources/flow/reference/components/faro.receiver.md
  docs/sources/flow/reference/components/local.file.md
  docs/sources/flow/reference/components/local.file_match.md
  docs/sources/flow/reference/components/module.file.md
  docs/sources/flow/reference/components/module.git.md
  docs/sources/flow/reference/components/module.http.md
  docs/sources/flow/reference/components/module.string.md
  docs/sources/flow/reference/components/prometheus.operator.podmonitors.md
  docs/sources/flow/reference/components/prometheus.operator.probes.md
  docs/sources/flow/reference/components/prometheus.operator.servicemonitors.md
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/flow/reference/components/remote.http.md
  docs/sources/flow/reference/components/remote.kubernetes.configmap.md
  docs/sources/flow/reference/components/remote.kubernetes.secret.md
  docs/sources/flow/reference/components/remote.s3.md
  docs/sources/flow/reference/components/remote.vault.md
Labels: type/docs

#5385 Update loki.write.md - Add Grafana Cloud Logs endpoint path
  docs/sources/flow/reference/components/loki.write.md
Labels: backport release-v0.34, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5399 Fixing of a copy-paste error
  docs/sources/flow/getting-started/collect-prometheus-metrics.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5378 Clarify usage of otelcol.processor.discovery
  component/otelcol/processor/discovery/discovery_test.go
  docs/sources/flow/reference/components/otelcol.processor.discovery.md
Labels: type/docs, backport release-v0.36, backport release-v0.37

#5171 Remove deprecated otelcol.exporter.jaeger
  CHANGELOG.md
  component/all/all.go
  component/loki/source/internal/kafkatarget/target_syncer_test.go
  component/otelcol/exporter/jaeger/jaeger.go
  component/otelcol/processor/discovery/discovery_test.go
  docs/sources/flow/reference/components/otelcol.exporter.jaeger.md
  docs/sources/flow/release-notes.md
  docs/sources/static/configuration/traces-config.md
  docs/sources/static/release-notes.md
  go.mod
  go.sum
  pkg/traces/config.go
  pkg/traces/config_test.go
  pkg/traces/promsdprocessor/consumer/consumer.go
Labels: type/docs

#5440 Add systemd steps to Grafana Agent standalone binary docs
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5432 Add loki.process stage.eventlogmessage
  CHANGELOG.md
  component/loki/process/stages/eventlogmessage.go
  component/loki/process/stages/eventlogmessage_test.go
  component/loki/process/stages/pipeline.go
  component/loki/process/stages/stage.go
  converter/internal/promtailconvert/internal/build/stages.go
  converter/internal/promtailconvert/testdata/pipeline_stages_part2.river
  converter/internal/promtailconvert/testdata/pipeline_stages_part2.yaml
  converter/internal/promtailconvert/testdata/pipeline_stages_unsupported.diags
  converter/internal/promtailconvert/testdata/pipeline_stages_unsupported.river
  converter/internal/promtailconvert/testdata/pipeline_stages_unsupported.yaml
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs

#5455 Update the Grafana Agent start topic
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5456 docs: small typo in an example
  docs/sources/flow/config-language/expressions/function_calls.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5465 Fix a cross reference link in a note in the Agent root topic (v0.37)
  docs/sources/_index.md
Labels: type/docs

#5464 Fix a cross reference link in a note in the Agent root topic
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs

#5494 Add a missing underscore in a link URL in a note admonition
  docs/sources/_index.md
Labels: type/docs

#5498 📝 Fix RHEL install instructions to work.
  docs/sources/flow/setup/install/linux.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5480 [Docs] Add missing row for labels argument inside target block
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
Labels: type/docs, backport release-v0.37

#5495 Fix broken link in Note
  docs/sources/_index.md
Labels: type/docs

#5503 Docs: Clarify which Vault "remote.vault" connects to
  docs/sources/flow/reference/components/remote.vault.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5417 Upgrade mysqld_exporter to v0.15.0
  CHANGELOG.md
  component/prometheus/exporter/mysql/mysql.go
  component/prometheus/exporter/mysql/mysql_test.go
  converter/internal/staticconvert/internal/build/mysqld_exporter.go
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/static/configuration/integrations/mysqld-exporter-config.md
  go.mod
  go.sum
  pkg/integrations/mysqld_exporter/mysqld-exporter.go
Labels: type/docs

#5478 fix(doc): render index.md's admonition link
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs

#5514 Update migrating-from-static.md
  docs/sources/flow/getting-started/migrating-from-static.md
Labels: type/docs, flow, backport release-v0.37

#5521 Add docs for scheduled_task to Static documentation
  docs/sources/static/configuration/integrations/windows-exporter-config.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5407 Add new options to spanmetrics processor in static mode:
  CHANGELOG.md
  docs/sources/static/configuration/traces-config.md
  pkg/traces/config.go
  pkg/traces/config_test.go
Labels: type/docs

#5542 docs: Add label to prometheus.exporter.unix
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
Labels: backport release-v0.37

#5544 Update migration topic to use codeblock for static and flow commands
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/migrating-from-static.md
Labels: type/docs, backport release-v0.37

#5543 docs: fix old instances of prometheus.exporter.unix not needing a label
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/config-language/components.md
  docs/sources/flow/reference/components/module.file.md
  docs/sources/flow/reference/components/module.http.md
  docs/sources/flow/reference/components/module.string.md
  docs/sources/flow/reference/components/otelcol.exporter.logging.md
  docs/sources/flow/tutorials/assets/flow_configs/example.river
  docs/sources/flow/tutorials/chaining.md
Labels: backport release-v0.37

#5527 docs: remove mention of using statefulset for clustering
  docs/sources/flow/getting-started/configure-agent-clustering.md
Labels: type/docs, backport release-v0.36, backport release-v0.37

#5556 docs: remove implication that flow mode doesn't have feature parity from about page
  docs/sources/about.md
Labels: type/docs, backport release-v0.37

#5557 update to River v0.2.0 for raw strings
  CHANGELOG.md
  docs/sources/flow/config-language/expressions/types_and_values.md
  go.mod
  go.sum
Labels: type/docs

#5560 Update the correct syntax for extra label
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
Labels: type/docs, backport release-v0.37

#5570 loki.source.doker: port latest Promtail changes
  CHANGELOG.md
  component/loki/source/docker/docker.go
  component/loki/source/docker/internal/dockertarget/metrics.go
  component/loki/source/docker/internal/dockertarget/target.go
  component/loki/source/docker/internal/dockertarget/target_test.go
  component/loki/source/docker/runner.go
  docs/sources/flow/reference/components/loki.source.docker.md
Labels: type/docs

#5529 Upgrade Agent to Collector 0.87
  CHANGELOG.md
  component/otelcol/auth/auth.go
  component/otelcol/connector/connector.go
  component/otelcol/connector/spanmetrics/types.go
  component/otelcol/exporter/exporter.go
  component/otelcol/exporter/loadbalancing/loadbalancing.go
  component/otelcol/extension/extension.go
  component/otelcol/processor/processor.go
  component/otelcol/receiver/kafka/kafka.go
  component/otelcol/receiver/kafka/kafka_test.go
  component/otelcol/receiver/prometheus/internal/appendable.go
  component/otelcol/receiver/prometheus/internal/transaction.go
  component/otelcol/receiver/prometheus/internal/transaction_test.go
  component/otelcol/receiver/prometheus/prometheus.go
  component/otelcol/receiver/receiver.go
  docs/developer/updating-otel.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.processor.probabilistic_sampler.md
  docs/sources/flow/reference/components/otelcol.processor.transform.md
  docs/sources/flow/reference/components/otelcol.receiver.kafka.md
  docs/sources/static/configuration/traces-config.md
  go.mod
  go.sum
  pkg/traces/config.go
  pkg/traces/servicegraphprocessor/processor_test.go
  pkg/util/otel_feature_gate_test.go
Labels: type/docs

#5572 Replace relrefs with docrefs in Agent install and start topics
  docs/sources/flow/setup/configure/configure-linux.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/configure/configure-windows.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/kubernetes.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport release-v0.37

#5578 Replace relrefs with docrefs in Agent tutorials
  docs/sources/flow/tutorials/chaining.md
  docs/sources/flow/tutorials/collecting-prometheus-metrics.md
  docs/sources/flow/tutorials/filtering-metrics.md
Labels: type/docs, backport release-v0.37

#5259 Docs: Migrating from Grafana Agent Operator to Flow
  docs/sources/flow/getting-started/migrating-from-operator.md
Labels: type/docs

#5594 Fix typos (#5583)
  docs/sources/flow/reference/components/otelcol.connector.spanmetrics.md
Labels: type/docs, backport

#5603 Replace relrefs with docrefs in Agent concepts and Agent monitoring topics
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/component_controller.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/concepts/modules.md
  docs/sources/flow/monitoring/component_metrics.md
  docs/sources/flow/monitoring/controller_metrics.md
  docs/sources/flow/monitoring/debugging.md
Labels: type/docs, backport release-v0.37

#5624 Fix prometheus.exporter.cadvisor.md
  docs/sources/flow/reference/components/prometheus.exporter.cadvisor.md
Labels: type/docs, backport release-v0.37

#5445 pyroscope python profiling
  CHANGELOG.md
  component/pyroscope/ebpf/args.go
  component/pyroscope/ebpf/ebpf_linux.go
  component/pyroscope/ebpf/ebpf_linux_test.go
  component/pyroscope/ebpf/ebpf_placeholder.go
  component/pyroscope/ebpf/metrics.go
  docs/sources/flow/reference/components/pyroscope.ebpf.md
  go.mod
  go.sum
Labels: type/docs

#5434 Queue-based client for loki.write
  CHANGELOG.md
  component/common/loki/client/batch.go
  component/common/loki/client/client.go
  component/common/loki/client/client_writeto.go
  component/common/loki/client/client_writeto_test.go
  component/common/loki/client/config.go
  component/common/loki/client/manager.go
  component/common/loki/client/manager_test.go
  component/common/loki/client/queue_client.go
  component/common/loki/client/queue_client_test.go
  component/common/loki/utils/sync.go
  component/common/loki/wal/watcher.go
  component/common/loki/wal/watcher_test.go
  component/loki/write/types.go
  docs/sources/flow/reference/components/loki.write.md
Labels: type/docs

#5621 bump river to v0.3.0
  CHANGELOG.md
  docs/sources/flow/config-language/expressions/operators.md
  go.mod
  go.sum
Labels: type/docs

#5656 Clarify data collection in Grafana Agent
  docs/sources/data-collection.md
  docs/sources/flow/reference/cli/run.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/static/set-up/install/_index.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37

#5634 Add an "exclude_event_message" argument to loki.source.windowsevent
  CHANGELOG.md
  component/loki/source/windowsevent/arguments.go
  component/loki/source/windowsevent/component_test.go
  component/loki/source/windowsevent/component_windows.go
  converter/internal/promtailconvert/internal/build/windows_events.go
  converter/internal/promtailconvert/testdata/windowsevents.river
  converter/internal/promtailconvert/testdata/windowsevents_relabel.river
  docs/sources/flow/reference/components/loki.source.windowsevent.md
Labels: type/docs

#5581 Sync `loki.process` `drop` stage
  CHANGELOG.md
  component/loki/process/stages/drop.go
  component/loki/process/stages/drop_test.go
  component/loki/process/stages/extensions.go
  converter/internal/promtailconvert/internal/build/stages.go
  converter/internal/promtailconvert/testdata/pipeline_stages_drop.diags
  converter/internal/promtailconvert/testdata/pipeline_stages_drop.river
  converter/internal/promtailconvert/testdata/pipeline_stages_drop.yaml
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs

#5660 [release-v0.35] Clarify data collection in Grafana Agent (#5656)
  docs/sources/data-collection.md
  docs/sources/flow/reference/cli/run.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/static/set-up/install/_index.md
Labels: type/docs, backport

#5632 otelcol.processor.k8sattributes: Add example with labels of Prometheus metrics
  docs/sources/flow/reference/components/otelcol.processor.k8sattributes.md
Labels: type/docs, backport release-v0.37

#5636 Use raw strings for regexes in otelcol docs
  component/otelcol/processor/attributes/attributes_test.go
  component/otelcol/processor/transform/transform_test.go
  docs/sources/flow/reference/components/otelcol.processor.attributes.md
  docs/sources/flow/reference/components/otelcol.processor.transform.md
Labels: type/docs

#5665 Fix bad links for Cloud to Flow
  docs/sources/data-collection.md
Labels: type/docs, backport release-v0.35, backport release-v0.36, backport release-v0.37
