Repository grafana/agent, pull requests merged in 2023-07, with the labels that each got.

#4323 fix attribute name
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4346 fix attribute name (#4323)
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs, backport

#4345 fix attribute name (#4323)
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs, backport

#4316 Re-enable mongodb exporter
  CHANGELOG.md
  go.mod
  go.sum
  pkg/integrations/mongodb_exporter/mongodb_exporter.go
Labels: type/infrastructure

#4336 docs: enhance tooling documentation
  docs/sources/flow/config-language/_index.md
  docs/sources/flow/config-language/files.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#3953 feat: pyroscope.ebpf
  CHANGELOG.md
  component/all/all.go
  component/pyroscope/ebpf/args.go
  component/pyroscope/ebpf/ebpf_linux.go
  component/pyroscope/ebpf/ebpf_linux_test.go
  component/pyroscope/ebpf/ebpf_placeholder.go
  component/pyroscope/ebpf/metrics.go
  docs/sources/flow/reference/components/pyroscope.ebpf.md
  go.mod
  go.sum
  tools/agentlint/go.sum
Labels: type/docs

#4389 Fix broken alias in static docs
  docs/sources/static/set-up/_index.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4401 docs: fix link to Flow mode in admonition banner
  docs/sources/_index.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4415 Remove oauth2 agent config from example in Operator docs
  docs/sources/operator/deploy-agent-operator-resources.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4422 Update loki.relabel to logs instead of metrics
  docs/sources/flow/reference/components/loki.relabel.md
  docs/sources/shared/flow/reference/components/rule-block-logs.md
Labels: type/docs, backport release-v0.33, backport release-v0.34

#4421 new task for migrating from prometheus
  docs/sources/flow/getting-started/migrating-from-prometheus.md
Labels: backport release-v0.35

#4459 Update weight for Agent index
  docs/sources/_index.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4507 Update loki.write.md
  docs/sources/flow/reference/components/loki.write.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4509 Clarification and fixing typos in discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4536 Remove zero width spaces from reference titles
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.processor.tail_sampling.md
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4525 Add link to Grafana Agent Configuration Generator.
  docs/sources/flow/_index.md
Labels: type/docs

#4549 Remove zero width spaces (#4536)
  docs/sources/flow/reference/components/otelcol.processor.memory_limiter.md
  docs/sources/flow/reference/components/otelcol.processor.tail_sampling.md
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
Labels: type/docs, backport

#4553 Update quick-starts.md
  docs/sources/static/set-up/quick-starts.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4566 Fix broken link in Agent Docker deploy topic
  docs/sources/flow/setup/install/docker.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4571 Rename About and fix links
  docs/sources/_index.md
  docs/sources/about.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4428 Flow Otelcol: Document default values for gRPC client balancer_name
  component/otelcol/exporter/jaeger/jaeger.go
  component/otelcol/exporter/loadbalancing/loadbalancing.go
  component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  component/otelcol/exporter/otlp/otlp.go
  component/otelcol/extension/jaeger_remote_sampling/jaeger_remote_sampling.go
  component/otelcol/extension/jaeger_remote_sampling/jaeger_remote_sampling_test.go
  docs/sources/flow/reference/components/otelcol.exporter.jaeger.md
  docs/sources/flow/reference/components/otelcol.exporter.loadbalancing.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/shared/flow/reference/components/otelcol-grpc-balancer-name.md
Labels: type/docs

#4522 Update discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4588 include environment var AGENT_MODE in migration docs
  docs/sources/flow/getting-started/migrating-from-prometheus.md
Labels: type/docs, backport release-v0.35

#4590 Correct file name in the Agent standalone install and macOS install
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/macos.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4656 docs(install/kubernetes): Point to Configure Kubernetes from Install on Kubernetes
  docs/sources/flow/setup/install/kubernetes.md
Labels: type/docs, backport release-v0.33, backport release-v0.34, backport release-v0.35

#4662 [release-v0.35] docs(install/kubernetes): Point to Configure Kubernetes from Install on Kubernetes
  docs/sources/flow/setup/install/kubernetes.md
Labels: type/docs, backport

#4663 [release-v0.33] docs(install/kubernetes): Point to Configure Kubernetes from Install on Kubernetes
  docs/sources/flow/setup/install/kubernetes.md
Labels: type/docs, backport
