Repository grafana/agent, pull requests merged in 2023-05, with the labels that each got.

#3746 Update argument.md
  docs/sources/flow/reference/config-blocks/argument.md
Labels: backport release-v0.33

#3750 Update modules.md
  docs/sources/flow/concepts/modules.md
Labels: backport release-v0.33

#3755 docs: Fix page titles for aws-related discovery components
  docs/sources/flow/reference/components/discovery.ec2.md
  docs/sources/flow/reference/components/discovery.lightsail.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
Labels: backport release-v0.33

#3766 Fix usage in module.git documentation
  docs/sources/flow/reference/components/module.git.md
Labels: backport release-v0.33

#3783 [Flow] Update configuration documentation for the Postgres Component
  CHANGELOG.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
Labels: backport release-v0.33

#3796 docs: document how to expose the UI to other machines on the network
  docs/sources/flow/install/docker.md
  docs/sources/flow/install/linux.md
  docs/sources/flow/install/macos.md
  docs/sources/flow/install/windows.md
  docs/sources/flow/monitoring/debugging.md
Labels: backport release-v0.33

#3895 docs: fix macOS log locations for Flow
  docs/sources/flow/install/macos.md
Labels: type/docs, backport release-v0.33

#3507 Change config file name to be consistent with Helm Chart to config.yaml
  docs/sources/static/set-up/install-agent-macos.md
Labels: type/docs, backport release-v0.32, backport release-v0.31, backport release-v0.33

#3506 Change config file name to be consistent with Helm Chart to config.yaml
  docs/sources/static/configuration/_index.md
Labels: type/docs, backport release-v0.32, backport release-v0.31, backport release-v0.33

#3908 Change config file name to be consistent with Helm Chart to config.ya…
  docs/sources/set-up/install-agent-macos.md
Labels: type/docs

#3916 Document credentials over non-TLS connections
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
Labels: backport release-v0.33

#3969 Clean up and correct Grafana Agent Static install on Linux (#3931)
  docs/sources/static/set-up/install-agent-linux.md
Labels: type/docs

#3980 Reverting config yml filename
  docs/sources/static/set-up/install-agent-macos.md
Labels: type/docs, backport release-v0.33

#3978 Updating rule block documentation to add uppercase/lowercase
  docs/sources/shared/flow/reference/components/rule-block.md
Labels: type/docs, backport release-v0.33

#3986 General cleanup of the install steps for Static Agent on Windows
  docs/sources/static/set-up/install-agent-on-windows.md
Labels: type/docs, backport release-v0.33

#4006 Update Agent static install on macOS topic
  docs/sources/static/set-up/install-agent-macos.md
Labels: type/docs, backport release-v0.33
