Repository grafana/agent, pull requests merged in 2023-09, with the labels that each got.

#5084 Fix broken `docs/shared` usage
  docs/sources/flow/reference/components/otelcol.connector.spanlogs.md
  docs/sources/flow/reference/components/otelcol.connector.spanmetrics.md
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
  docs/sources/flow/reference/components/prometheus.exporter.elasticsearch.md
  docs/sources/flow/reference/components/prometheus.exporter.gcp.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.kafka.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mongodb.md
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.oracledb.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.snowflake.md
  docs/sources/flow/reference/components/prometheus.exporter.squid.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
Labels: backport release-v0.36

#5091 [release-v0.33] Update `docs/shared` shortcode usage to use keyword argument interface and fix typos
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
Labels: type/docs

#5093 [release-v0.35] Update `docs/shared` shortcode usage to use keyword argument interface and fix typos
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
  docs/sources/flow/reference/components/prometheus.exporter.elasticsearch.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.kafka.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mongodb.md
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.oracledb.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.snowflake.md
  docs/sources/flow/reference/components/prometheus.exporter.squid.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
Labels: type/docs

#5094 [release-v0.36] Update `docs/shared` shortcode usage to use keyword argument interface and fix typos
  docs/sources/flow/reference/components/otelcol.connector.spanmetrics.md
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
  docs/sources/flow/reference/components/prometheus.exporter.elasticsearch.md
  docs/sources/flow/reference/components/prometheus.exporter.gcp.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.kafka.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mongodb.md
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.oracledb.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.snowflake.md
  docs/sources/flow/reference/components/prometheus.exporter.squid.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
Labels: type/docs

#5092 [release-v0.34] Update `docs/shared` shortcode usage to use keyword argument interface and fix typos
  docs/sources/flow/reference/components/prometheus.exporter.apache.md
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
  docs/sources/flow/reference/components/prometheus.exporter.github.md
  docs/sources/flow/reference/components/prometheus.exporter.memcached.md
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/flow/reference/components/prometheus.exporter.mysql.md
  docs/sources/flow/reference/components/prometheus.exporter.oracledb.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  docs/sources/flow/reference/components/prometheus.exporter.process.md
  docs/sources/flow/reference/components/prometheus.exporter.redis.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.snowflake.md
  docs/sources/flow/reference/components/prometheus.exporter.statsd.md
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
Labels: type/docs

#5119 feat(comp/loki): expose msg's offset as internal label
  CHANGELOG.md
  component/loki/source/internal/kafkatarget/kafkatarget.go
  component/loki/source/internal/kafkatarget/kafkatarget_test.go
  docs/sources/flow/reference/components/loki.source.kafka.md
Labels: type/docs

#5140 Update Brew service name reference for flow
  docs/sources/flow/setup/install/macos.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5156 Add missing shared link syntax
  docs/developer/writing-flow-component-documentation.md
  docs/sources/flow/reference/components/discovery.consulagent.md
  docs/sources/flow/reference/components/otelcol.connector.servicegraph.md
Labels: type/docs

#5154 [release-v0.34] Update Brew service name reference for flow
  docs/sources/flow/setup/install/macos.md
Labels: type/docs, backport

#5158 Update path to fix 404 error
  docs/sources/flow/setup/start-agent.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5182 Correct the example syntax in the loki.source.kafka reference topic
  docs/sources/flow/reference/components/loki.source.kafka.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5189 Remove sudo command from RHEL Fedora install instructions
  docs/sources/static/set-up/install/install-agent-linux.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5142 Update _index.md
  docs/sources/flow/setup/install/_index.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5141 Update _index.md
  docs/sources/static/set-up/install/_index.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5144 Update binary.md
  docs/sources/flow/setup/install/binary.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5174 `discovery.linode` component
  CHANGELOG.md
  component/all/all.go
  component/discovery/kuma/kuma_test.go
  component/discovery/linode/linode.go
  component/discovery/linode/linode_test.go
  converter/internal/prometheusconvert/linode.go
  converter/internal/prometheusconvert/prometheusconvert.go
  converter/internal/prometheusconvert/testdata/linode.river
  converter/internal/prometheusconvert/testdata/linode.yaml
  converter/internal/prometheusconvert/validate.go
  docs/sources/flow/reference/components/discovery.kuma.md
  docs/sources/flow/reference/components/discovery.linode.md
Labels: type/docs

#5212 Update _index.md (#5142)
  docs/sources/flow/setup/install/_index.md
Labels: type/docs, backport

#5211 Update _index.md (#5141)
  docs/sources/static/set-up/install/_index.md
Labels: type/docs, backport

#5187 [Docs] prometheus.exporter.[blackbox, snmp] misc. fixes
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5195 Update prometheus.exporter.cloudwatch docs
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
Labels: type/docs, backport release-v0.35, backport release-v0.36

#5221 [Docs] prometheus.exporter.[blackbox, snmp] misc. fixes (#5187)
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
Labels: type/docs, backport

#5220 [Docs] prometheus.exporter.[blackbox, snmp] misc. fixes (#5187)
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
Labels: type/docs, backport

#5222 [Docs] prometheus.exporter.[blackbox, snmp] misc. fixes (#5187)
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
Labels: type/docs, backport

#5223 Update prometheus.exporter.cloudwatch docs (#5195)
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
Labels: type/docs, backport

#5224 Update prometheus.exporter.cloudwatch docs (#5195)
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
Labels: type/docs, backport

#5151 Add probabilistic sampler processor
  CHANGELOG.md
  component/all/all.go
  component/otelcol/processor/probabilistic_sampler/probabilistic_sampler.go
  component/otelcol/processor/probabilistic_sampler/probabilistic_sampler_test.go
  docs/sources/flow/reference/components/otelcol.processor.probabilistic_sampler.md
  go.mod
  go.sum
Labels: type/docs

#5194 add `nil_to_zero` YACE config
  CHANGELOG.md
  component/prometheus/exporter/cloudwatch/config.go
  component/prometheus/exporter/cloudwatch/config_test.go
  converter/internal/staticconvert/internal/build/cloudwatch_exporter.go
  converter/internal/staticconvert/testdata/integrations.river
  converter/internal/staticconvert/testdata/integrations.yaml
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/static/configuration/integrations/cloudwatch-exporter-config.md
  pkg/integrations/cloudwatch_exporter/config.go
  pkg/integrations/cloudwatch_exporter/config_test.go
Labels: type/docs

#5238 Fix bad link syntax in Agent static mode Windows install
  docs/sources/static/set-up/install/install-agent-on-windows.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5176 Flow Windows Certificate Store support added.
  CHANGELOG.md
  converter/internal/staticconvert/internal/build/server.go
  converter/internal/staticconvert/staticconvert_test.go
  converter/internal/staticconvert/testdata/example-cert.pem
  converter/internal/staticconvert/testdata/example-key.pem
  converter/internal/staticconvert/testdata/prom_scrape.river
  converter/internal/staticconvert/testdata/prom_scrape.yaml
  converter/internal/staticconvert/testdata/unsupported.diags
  converter/internal/staticconvert/testdata/unsupported.river
  converter/internal/staticconvert/testdata/unsupported.yaml
  converter/internal/staticconvert/validate.go
  docs/sources/flow/reference/config-blocks/http.md
  pkg/server/tls.go
  pkg/server/tls_certstore_stub.go
  pkg/server/tls_certstore_windows.go
  pkg/server/tls_certstore_windows_test.go
  service/http/handler.go
  service/http/handler_windows.go
  service/http/http.go
  service/http/tls.go
  service/http/tls_test.go
Labels: type/docs

#5045 Enable Collector Otel metrics in Flow
  CHANGELOG.md
  cmd/internal/flowmode/cmd_run.go
  component/otelcol/auth/auth.go
  component/otelcol/auth/basic/basic.go
  component/otelcol/auth/bearer/bearer.go
  component/otelcol/auth/headers/headers.go
  component/otelcol/auth/oauth2/oauth2.go
  component/otelcol/auth/sigv4/sigv4.go
  component/otelcol/connector/connector.go
  component/otelcol/connector/servicegraph/servicegraph.go
  component/otelcol/connector/spanmetrics/spanmetrics.go
  component/otelcol/exporter/exporter.go
  component/otelcol/exporter/jaeger/jaeger.go
  component/otelcol/exporter/loadbalancing/loadbalancing.go
  component/otelcol/exporter/logging/logging.go
  component/otelcol/exporter/otlp/otlp.go
  component/otelcol/exporter/otlphttp/otlphttp.go
  component/otelcol/extension/extension.go
  component/otelcol/internal/featuregate/install.go
  component/otelcol/internal/featuregate/install_test.go
  component/otelcol/processor/attributes/attributes.go
  component/otelcol/processor/batch/batch.go
  component/otelcol/processor/memorylimiter/memorylimiter.go
  component/otelcol/processor/probabilistic_sampler/probabilistic_sampler.go
  component/otelcol/processor/processor.go
  component/otelcol/processor/span/span.go
  component/otelcol/processor/tail_sampling/tail_sampling.go
  component/otelcol/receiver/jaeger/jaeger.go
  component/otelcol/receiver/kafka/kafka.go
  component/otelcol/receiver/opencensus/opencensus.go
  component/otelcol/receiver/otlp/otlp.go
  component/otelcol/receiver/prometheus/prometheus.go
  component/otelcol/receiver/receiver.go
  component/otelcol/receiver/zipkin/zipkin.go
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.processor.batch.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  pkg/traces/instance.go
  pkg/util/otel_feature_gate.go
  pkg/util/otel_feature_gate_test.go
  service/otel/otel.go
Labels: type/docs

#5246 OTLP -> Prom otel_scope metrics and labels updated to spec
  CHANGELOG.md
  component/otelcol/exporter/prometheus/internal/convert/convert.go
  component/otelcol/exporter/prometheus/internal/convert/convert_test.go
  component/otelcol/exporter/prometheus/prometheus.go
  docs/sources/flow/reference/components/otelcol.exporter.prometheus.md
  docs/sources/flow/release-notes.md
Labels: type/docs

#5165 Support starting log tailers at the end of file
  CHANGELOG.md
  component/loki/source/file/file.go
  component/loki/source/file/tailer.go
  component/loki/source/file/tailer_test.go
  docs/sources/flow/reference/components/loki.source.file.md
Labels: type/docs

#5057 Sync cri stage in loki.process with promtail.
  CHANGELOG.md
  component/loki/process/stages/extensions.go
  component/loki/process/stages/extensions_test.go
  component/loki/process/stages/stage.go
  converter/internal/promtailconvert/internal/build/stages.go
  converter/internal/promtailconvert/testdata/pipeline_stages_cri_empty.river
  converter/internal/promtailconvert/testdata/pipeline_stages_cri_empty.yaml
  converter/internal/promtailconvert/testdata/pipeline_stages_part2.river
  converter/internal/promtailconvert/testdata/pipeline_stages_part2.yaml
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs

#5233 Expand documentation to demonstrate label options
  CHANGELOG.md
  docs/sources/flow/reference/components/discovery.http.md
Labels: type/docs, flow

#5072 feat(exporter): add Flow component for agent Integration
  CHANGELOG.md
  component/all/all.go
  component/prometheus/exporter/agent/agent.go
  docs/sources/flow/reference/components/prometheus.exporter.agent.md
Labels: type/docs

#5255 Update SNMP topics to add note about the version of Prometheus snmp_exporter
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/static/configuration/integrations/snmp-config.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5248 Update Linux install steps
  docs/sources/flow/setup/install/linux.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5228 feat(flow): allow loading cfg srcs from dir
  CHANGELOG.md
  cmd/internal/flowmode/cmd_run.go
  component/discovery/consulagent/consulagent_test.go
  component/discovery/consulagent/promtail_consulagent_test.go
  component/module/file/file.go
  component/module/git/git.go
  component/module/http/http.go
  component/module/module.go
  component/module/string/string.go
  converter/internal/test_common/testing.go
  docs/sources/flow/reference/cli/run.md
  pkg/config/instrumentation/config_metrics.go
  pkg/flow/config.go
  pkg/flow/config_test.go
  pkg/flow/flow.go
  pkg/flow/flow_services_test.go
  pkg/flow/flow_test.go
  pkg/flow/internal/controller/loader.go
  pkg/flow/module.go
  pkg/flow/module_test.go
  pkg/flow/source.go
  pkg/flow/source_test.go
  service/http/http.go
  service/http/http_test.go
Labels: type/docs

#4094 Add servicemonitor support
  .github/workflows/helm-test.yml
  operations/helm/README.md
  operations/helm/charts/grafana-agent/CHANGELOG.md
  operations/helm/charts/grafana-agent/README.md
  operations/helm/charts/grafana-agent/ci/enable-servicemonitor-values.yaml
  operations/helm/charts/grafana-agent/templates/servicemonitor.yaml
  operations/helm/charts/grafana-agent/values.yaml
  operations/helm/tests/enable-servicemonitor/grafana-agent/templates/configmap.yaml
  operations/helm/tests/enable-servicemonitor/grafana-agent/templates/controllers/daemonset.yaml
  operations/helm/tests/enable-servicemonitor/grafana-agent/templates/rbac.yaml
  operations/helm/tests/enable-servicemonitor/grafana-agent/templates/service.yaml
  operations/helm/tests/enable-servicemonitor/grafana-agent/templates/serviceaccount.yaml
  operations/helm/tests/enable-servicemonitor/grafana-agent/templates/servicemonitor.yaml
Labels: type/docs

#5270 Update version for patch release v0.36.2
  CHANGELOG.md
  docs/sources/operator/deploy-agent-operator-resources.md
  docs/sources/operator/getting-started.md
  docs/sources/static/configuration/integrations/node-exporter-config.md
  docs/sources/static/configuration/integrations/process-exporter-config.md
  docs/sources/static/set-up/install/install-agent-docker.md
  pkg/operator/defaults.go
  production/kubernetes/agent-bare.yaml
  production/kubernetes/agent-loki.yaml
  production/kubernetes/agent-traces.yaml
  production/kubernetes/build/lib/version.libsonnet
  production/kubernetes/build/templates/operator/main.jsonnet
  production/kubernetes/install-bare.sh
  production/operator/templates/agent-operator.yaml
  production/tanka/grafana-agent/v1/main.libsonnet
  production/tanka/grafana-agent/v2/internal/base.libsonnet
  production/tanka/grafana-agent/v2/internal/syncer.libsonnet
Labels: type/docs

#5276 Update version for patch release v0.36.2
  docs/sources/operator/deploy-agent-operator-resources.md
  docs/sources/operator/getting-started.md
  docs/sources/static/configuration/integrations/node-exporter-config.md
  docs/sources/static/configuration/integrations/process-exporter-config.md
  docs/sources/static/set-up/install/install-agent-docker.md
  pkg/operator/defaults.go
  production/kubernetes/agent-bare.yaml
  production/kubernetes/agent-loki.yaml
  production/kubernetes/agent-traces.yaml
  production/kubernetes/build/lib/version.libsonnet
  production/kubernetes/build/templates/operator/main.jsonnet
  production/kubernetes/install-bare.sh
  production/operator/templates/agent-operator.yaml
  production/tanka/grafana-agent/v1/main.libsonnet
  production/tanka/grafana-agent/v2/internal/base.libsonnet
  production/tanka/grafana-agent/v2/internal/syncer.libsonnet
Labels: type/docs

#5258 Update SNMP topics to add note about the version of Prometheus snmp_e…
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/static/configuration/integrations/snmp-config.md
Labels: type/docs, backport

#5257 Update SNMP topics to add note about the version of Prometheus snmp_e…
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/static/configuration/integrations/snmp-config.md
Labels: type/docs, backport

#5262 flow: Add component for vsphere integration
  CHANGELOG.md
  component/all/all.go
  component/prometheus/exporter/vsphere/vsphere.go
  component/prometheus/exporter/vsphere/vsphere_test.go
  docs/sources/flow/reference/components/prometheus.exporter.vsphere.md
  pkg/integrations/install/install.go
  pkg/integrations/v2/vmware_exporter/vmware_exporter.go
  pkg/integrations/vmware_exporter/vmware_exporter.go
Labels: type/docs

#5229 Add support for k8sattributeprocessor
  CHANGELOG.md
  component/all/all.go
  component/otelcol/processor/k8sattributes/k8sattributes.go
  component/otelcol/processor/k8sattributes/k8sattributes_test.go
  component/otelcol/processor/k8sattributes/types.go
  docs/sources/flow/reference/components/otelcol.processor.k8sattributes.md
  docs/sources/shared/flow/reference/components/extract-field-block.md
  docs/sources/shared/flow/reference/components/field-filter-block.md
  go.mod
  go.sum
Labels: type/docs

#5301 Fix some bad links in Agent documentation
  docs/sources/_index.md
  docs/sources/flow/reference/components/prometheus.exporter.agent.md
  docs/sources/flow/reference/components/remote.kubernetes.configmap.md
  docs/sources/flow/reference/components/remote.kubernetes.secret.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5302 Stop code-formatting the title
  docs/sources/flow/reference/components/remote.vault.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5312 Fix typo in scraping-service topic
  docs/sources/static/configuration/scraping-service.md
Labels: type/docs

#5319 Correct link errors, 404s, and incorrect syntax in Agent documentation
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/config-language/expressions/function_calls.md
  docs/sources/flow/config-language/expressions/types_and_values.md
  docs/sources/flow/config-language/syntax.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/opentelemetry-to-lgtm-stack.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/reference/cli/_index.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/components/discovery.http.md
  docs/sources/flow/reference/components/loki.process.md
  docs/sources/flow/reference/components/loki.source.api.md
  docs/sources/flow/reference/components/loki.source.gcplog.md
  docs/sources/flow/reference/components/otelcol.connector.servicegraph.md
  docs/sources/flow/reference/components/otelcol.connector.spanlogs.md
  docs/sources/flow/reference/components/otelcol.processor.attributes.md
  docs/sources/flow/reference/components/prometheus.exporter.agent.md
  docs/sources/flow/reference/components/prometheus.operator.probes.md
  docs/sources/flow/reference/components/pyroscope.write.md
  docs/sources/flow/reference/config-blocks/argument.md
  docs/sources/flow/reference/config-blocks/export.md
  docs/sources/flow/reference/config-blocks/http.md
  docs/sources/flow/reference/config-blocks/logging.md
  docs/sources/flow/reference/config-blocks/tracing.md
  docs/sources/flow/reference/stdlib/to_lower.md
  docs/sources/flow/reference/stdlib/to_upper.md
  docs/sources/flow/release-notes.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/start-agent.md
  docs/sources/flow/tutorials/chaining.md
  docs/sources/flow/tutorials/collecting-prometheus-metrics.md
  docs/sources/flow/tutorials/filtering-metrics.md
  docs/sources/operator/_index.md
  docs/sources/operator/architecture.md
  docs/sources/operator/deploy-agent-operator-resources.md
  docs/sources/operator/getting-started.md
  docs/sources/operator/helm-getting-started.md
  docs/sources/shared/index.md
  docs/sources/static/api/_index.md
  docs/sources/static/configuration/agent-management.md
  docs/sources/static/configuration/integrations/gcp-exporter-config.md
  docs/sources/static/configuration/integrations/integrations-next/_index.md
  docs/sources/static/configuration/integrations/integrations-next/eventhandler-config.md
  docs/sources/static/configuration/integrations/integrations-next/snmp-config.md
  docs/sources/static/configuration/integrations/integrations-next/vsphere-config.md
  docs/sources/static/configuration/integrations/snmp-config.md
  docs/sources/static/configuration/logs-config.md
  docs/sources/static/operation-guide/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  docs/sources/static/set-up/quick-starts.md
Labels: type/docs, backport release-v0.34, backport release-v0.35, backport release-v0.36

#5330 Correct link errors, 404s, and incorrect syntax in Agent documentatio…
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/config-language/expressions/function_calls.md
  docs/sources/flow/config-language/expressions/types_and_values.md
  docs/sources/flow/config-language/syntax.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/migrating-from-promtail.md
  docs/sources/flow/getting-started/opentelemetry-to-lgtm-stack.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/reference/cli/_index.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/components/loki.process.md
  docs/sources/flow/reference/components/loki.source.api.md
  docs/sources/flow/reference/components/loki.source.gcplog.md
  docs/sources/flow/reference/components/prometheus.operator.probes.md
  docs/sources/flow/reference/components/pyroscope.write.md
  docs/sources/flow/reference/config-blocks/argument.md
  docs/sources/flow/reference/config-blocks/export.md
  docs/sources/flow/reference/config-blocks/logging.md
  docs/sources/flow/reference/config-blocks/tracing.md
  docs/sources/flow/reference/stdlib/to_lower.md
  docs/sources/flow/reference/stdlib/to_upper.md
  docs/sources/flow/release-notes.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/start-agent.md
  docs/sources/flow/tutorials/chaining.md
  docs/sources/flow/tutorials/collecting-prometheus-metrics.md
  docs/sources/flow/tutorials/filtering-metrics.md
  docs/sources/operator/_index.md
  docs/sources/operator/architecture.md
  docs/sources/operator/deploy-agent-operator-resources.md
  docs/sources/operator/getting-started.md
  docs/sources/operator/helm-getting-started.md
  docs/sources/shared/index.md
  docs/sources/static/api/_index.md
  docs/sources/static/configuration/agent-management.md
  docs/sources/static/configuration/integrations/gcp-exporter-config.md
  docs/sources/static/configuration/integrations/integrations-next/_index.md
  docs/sources/static/configuration/integrations/integrations-next/eventhandler-config.md
  docs/sources/static/configuration/integrations/integrations-next/snmp-config.md
  docs/sources/static/configuration/integrations/integrations-next/vsphere-config.md
  docs/sources/static/configuration/integrations/snmp-config.md
  docs/sources/static/configuration/logs-config.md
  docs/sources/static/operation-guide/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  docs/sources/static/set-up/quick-starts.md
Labels: type/docs, backport

#5331 Correct link errors, 404s, and incorrect syntax in Agent documentatio…
  docs/sources/flow/concepts/clustering.md
  docs/sources/flow/concepts/configuration_language.md
  docs/sources/flow/config-language/expressions/function_calls.md
  docs/sources/flow/config-language/expressions/types_and_values.md
  docs/sources/flow/config-language/syntax.md
  docs/sources/flow/getting-started/configure-agent-clustering.md
  docs/sources/flow/getting-started/distribute-prometheus-scrape-load.md
  docs/sources/flow/getting-started/migrating-from-prometheus.md
  docs/sources/flow/getting-started/opentelemetry-to-lgtm-stack.md
  docs/sources/flow/monitoring/debugging.md
  docs/sources/flow/reference/cli/_index.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/components/loki.process.md
  docs/sources/flow/reference/components/loki.source.api.md
  docs/sources/flow/reference/components/loki.source.gcplog.md
  docs/sources/flow/reference/components/prometheus.operator.probes.md
  docs/sources/flow/reference/components/pyroscope.write.md
  docs/sources/flow/reference/config-blocks/argument.md
  docs/sources/flow/reference/config-blocks/export.md
  docs/sources/flow/reference/config-blocks/logging.md
  docs/sources/flow/reference/config-blocks/tracing.md
  docs/sources/flow/reference/stdlib/to_lower.md
  docs/sources/flow/reference/stdlib/to_upper.md
  docs/sources/flow/release-notes.md
  docs/sources/flow/setup/configure/configure-macos.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/docker.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/start-agent.md
  docs/sources/flow/tutorials/chaining.md
  docs/sources/flow/tutorials/collecting-prometheus-metrics.md
  docs/sources/flow/tutorials/filtering-metrics.md
  docs/sources/operator/_index.md
  docs/sources/operator/architecture.md
  docs/sources/operator/deploy-agent-operator-resources.md
  docs/sources/operator/getting-started.md
  docs/sources/operator/helm-getting-started.md
  docs/sources/shared/index.md
  docs/sources/static/api/_index.md
  docs/sources/static/configuration/agent-management.md
  docs/sources/static/configuration/integrations/gcp-exporter-config.md
  docs/sources/static/configuration/integrations/integrations-next/_index.md
  docs/sources/static/configuration/integrations/integrations-next/eventhandler-config.md
  docs/sources/static/configuration/integrations/integrations-next/snmp-config.md
  docs/sources/static/configuration/integrations/integrations-next/vsphere-config.md
  docs/sources/static/configuration/integrations/snmp-config.md
  docs/sources/static/configuration/logs-config.md
  docs/sources/static/operation-guide/_index.md
  docs/sources/static/release-notes.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  docs/sources/static/set-up/quick-starts.md
Labels: type/docs, backport

#5290 Bump opentelemetry collector 0.85
  CHANGELOG.md
  component/loki/source/kubernetes_events/event_controller.go
  component/otelcol/config_grpc.go
  component/otelcol/config_http.go
  component/otelcol/connector/spanmetrics/spanmetrics.go
  component/otelcol/connector/spanmetrics/spanmetrics_test.go
  component/otelcol/connector/spanmetrics/types.go
  component/otelcol/exporter/loadbalancing/loadbalancing.go
  component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  component/otelcol/exporter/loki/internal/convert/convert.go
  component/otelcol/exporter/prometheus/internal/convert/convert.go
  component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/extension.go
  component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/extension_test.go
  component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/http_test.go
  component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/internal_test.go
  component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/remote_strategy_cache.go
  component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/remote_strategy_cache_test.go
  component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/remote_strategy_store.go
  component/otelcol/extension/jaeger_remote_sampling/internal/strategy_store/constants.go
  component/otelcol/extension/jaeger_remote_sampling/internal/strategy_store/strategy_store.go
  component/otelcol/extension/jaeger_remote_sampling/internal/strategy_store/strategy_store_test.go
  component/otelcol/extension/jaeger_remote_sampling/jaeger_remote_sampling_test.go
  component/otelcol/receiver/otlp/otlp.go
  component/otelcol/receiver/otlp/otlp_test.go
  component/prometheus/operator/common/crdmanager.go
  docs/sources/flow/reference/components/otelcol.connector.spanmetrics.md
  docs/sources/flow/reference/components/otelcol.exporter.jaeger.md
  docs/sources/flow/reference/components/otelcol.exporter.loadbalancing.md
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
  docs/sources/flow/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/flow/reference/components/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/flow/reference/components/otelcol.receiver.kafka.md
  docs/sources/flow/reference/components/otelcol.receiver.otlp.md
  docs/sources/shared/flow/reference/components/otelcol-grpc-authority.md
  docs/sources/static/configuration/traces-config.md
  go.mod
  go.sum
  pkg/flow/tracing/tracing.go
  pkg/operator/operator.go
  pkg/operator/operator_test.go
  pkg/traces/config.go
  pkg/traces/config_test.go
  pkg/traces/servicegraphprocessor/processor.go
  production/operator/crds/monitoring.grafana.com_grafanaagents.yaml
Labels: type/docs
