Repository grafana/agent, pull requests merged in 2024-03, with the labels that each got.

#6578 add doc on setting up windows
  docs/developer/contributing.md
Labels: type/docs

#6576 docs: correct writing mistake to `PodLogs`
  docs/sources/flow/tasks/migrate/from-operator.md
Labels: type/docs, backport release-v0.40

#6596 Fix some broken links and bad markdown syntax
  docs/sources/flow/reference/components/loki.rules.kubernetes.md
  docs/sources/flow/reference/config-blocks/tracing.md
  docs/sources/flow/tutorials/flow-by-example/get-started.md
Labels: type/docs, backport release-v0.39, backport release-v0.40

#6598 Fix some broken links and bad markdown syntax (#6596)
  docs/sources/flow/reference/config-blocks/tracing.md
  docs/sources/flow/tutorials/flow-by-example/get-started.md
Labels: type/docs, backport

#6597 Fix some broken links and bad markdown syntax (#6596)
  docs/sources/flow/reference/config-blocks/tracing.md
  docs/sources/flow/tutorials/flow-by-example/get-started.md
Labels: type/docs, backport

#6609 chore(doc): correct cfg for statsd_exporter relay address
  docs/sources/static/configuration/integrations/statsd-exporter-config.md
Labels: type/docs, backport release-v0.38, backport release-v0.39, backport release-v0.40

#6599 Update Migrate from Operator task, collect logs example
  docs/sources/flow/tasks/migrate/from-operator.md
Labels: type/docs, backport release-v0.39, backport release-v0.40

#6502 Modules import file folder
  CHANGELOG.md
  docs/sources/flow/concepts/modules.md
  docs/sources/flow/reference/config-blocks/import.file.md
  internal/component/local/file/file.go
  internal/component/local/file/file_test.go
  internal/filedetector/detector.go
  internal/flow/import_test.go
  internal/flow/internal/controller/node_config_import.go
  internal/flow/internal/importsource/import_file.go
  internal/flow/internal/importsource/import_git.go
  internal/flow/internal/importsource/import_http.go
  internal/flow/internal/importsource/import_source.go
  internal/flow/internal/importsource/import_string.go
  internal/flow/testdata/import_file_folder/import_file_folder_1.txtar
  internal/flow/testdata/import_file_folder/import_file_folder_2.txtar
  internal/flow/testdata/import_file_folder/import_file_folder_3.txtar
  internal/flow/testdata/import_file_folder/import_file_folder_4.txtar
  internal/flow/testdata/import_file_folder/import_file_folder_5.txtar
Labels: type/docs

#6529 Modules import git folder
  CHANGELOG.md
  docs/sources/flow/reference/config-blocks/import.git.md
  internal/flow/internal/importsource/import_git.go
  internal/flow/testdata/import_git/import_git_2.txtar
  internal/vcs/git.go
Labels: type/docs

#6555 add description for source url in app receiver agent doc
  docs/sources/static/configuration/integrations/integrations-next/app-agent-receiver-config.md
Labels: type/docs, backport release-v0.40

#6605 docs: add task page for setting up metamonitoring
  docs/sources/flow/tasks/metamonitoring.md
Labels: type/docs, backport release-v0.40

#6647 docs: remove beta labels from import.http, import.git, import.string
  docs/sources/flow/reference/config-blocks/import.git.md
  docs/sources/flow/reference/config-blocks/import.http.md
  docs/sources/flow/reference/config-blocks/import.string.md
Labels: type/docs, backport release-v0.40

#6633 docs: reference Grafana Agent Flow as an OTel Collector distribution
  README.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/_index.md
Labels: type/docs, backport release-v0.40

#6549 Improve converter diagnostic output
  CHANGELOG.md
  internal/converter/diag/diagnostics.go
  internal/converter/diag/report.go
  internal/converter/diag/report_test.go
  internal/flowmode/cmd_convert.go
Labels: type/docs

#6628 Remove invalid pipe escapes in prometheus.exporter.unix docs
  docs/sources/flow/reference/components/prometheus.exporter.unix.md
Labels: type/docs, backport release-v0.38, backport release-v0.39, backport release-v0.40

#6682 otelcol.receiver.opencensus: sync with upstream defaults
  CHANGELOG.md
  docs/sources/flow/reference/components/otelcol.receiver.opencensus.md
  docs/sources/flow/release-notes.md
  internal/component/otelcol/receiver/opencensus/opencensus.go
  internal/converter/internal/otelcolconvert/testdata/opencensus.river
Labels: type/docs

#6643 feat(otelcol/exporter/otlp*): resync drifted defaults with upstream
  CHANGELOG.md
  docs/sources/shared/flow/reference/components/otelcol-queue-block.md
  internal/component/otelcol/config_grpc.go
  internal/component/otelcol/config_queue.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  internal/component/otelcol/exporter/otlp/otlp.go
  internal/component/otelcol/extension/jaeger_remote_sampling/jaeger_remote_sampling.go
  internal/component/otelcol/extension/jaeger_remote_sampling/jaeger_remote_sampling_test.go
  internal/converter/internal/otelcolconvert/converter_loadbalancingexporter.go
  internal/converter/internal/otelcolconvert/converter_otlpexporter.go
  internal/converter/internal/otelcolconvert/testdata/attributes.yaml
  internal/converter/internal/otelcolconvert/testdata/basicauth.yaml
  internal/converter/internal/otelcolconvert/testdata/batch.yaml
  internal/converter/internal/otelcolconvert/testdata/filter.yaml
  internal/converter/internal/otelcolconvert/testdata/inconsistent_processor.yaml
  internal/converter/internal/otelcolconvert/testdata/jaeger.yaml
  internal/converter/internal/otelcolconvert/testdata/jaegerremotesampling.yaml
  internal/converter/internal/otelcolconvert/testdata/k8sattributes.yaml
  internal/converter/internal/otelcolconvert/testdata/kafka.yaml
  internal/converter/internal/otelcolconvert/testdata/loadbalancing.yaml
  internal/converter/internal/otelcolconvert/testdata/memorylimiter.yaml
  internal/converter/internal/otelcolconvert/testdata/oauth2.yaml
  internal/converter/internal/otelcolconvert/testdata/opencensus.yaml
  internal/converter/internal/otelcolconvert/testdata/otlp.yaml
  internal/converter/internal/otelcolconvert/testdata/otlphttp.yaml
  internal/converter/internal/otelcolconvert/testdata/probabilistic_sampler.yaml
  internal/converter/internal/otelcolconvert/testdata/span.yaml
  internal/converter/internal/otelcolconvert/testdata/span_full.yaml
  internal/converter/internal/otelcolconvert/testdata/spanmetrics.yaml
  internal/converter/internal/otelcolconvert/testdata/spanmetrics_full.yaml
  internal/converter/internal/otelcolconvert/testdata/tail_sampling.yaml
  internal/converter/internal/otelcolconvert/testdata/transform.yaml
  internal/converter/internal/otelcolconvert/testdata/zipkin.yaml
  internal/converter/internal/staticconvert/testdata/traces.river
  internal/converter/internal/staticconvert/testdata/traces_multi.river
Labels: type/docs

#6513 feat(otel/proc/k8sattr): sync default configs for `k8sattributesprocessor` to upstream
  CHANGELOG.md
  docs/sources/flow/reference/components/otelcol.processor.k8sattributes.md
  internal/component/otelcol/processor/k8sattributes/k8sattributes.go
  internal/component/otelcol/processor/k8sattributes/k8sattributes_test.go
  internal/component/otelcol/processor/k8sattributes/types.go
  internal/converter/internal/otelcolconvert/testdata/k8sattributes.river
Labels: type/docs

#6709 docs: make deprecation of classic modules more clear
  docs/sources/flow/reference/components/module.file.md
  docs/sources/flow/reference/components/module.git.md
  docs/sources/flow/reference/components/module.http.md
  docs/sources/flow/reference/components/module.string.md
  docs/sources/flow/release-notes.md
Labels: type/docs

#6710 [release-v0.40] Backport #6709 to release-v0.40
  docs/sources/flow/reference/components/module.file.md
  docs/sources/flow/reference/components/module.git.md
  docs/sources/flow/reference/components/module.http.md
  docs/sources/flow/reference/components/module.string.md
  docs/sources/flow/release-notes.md
Labels: type/docs

#6731 add announcement that prometheus.exporter.vsphere was deprecated in v0.40
  CHANGELOG.md
  docs/sources/flow/reference/components/prometheus.exporter.vsphere.md
  docs/sources/flow/release-notes.md
Labels: backport release-v0.40

#6747 docs: exempt converters from backwards compatibility guarantees
  docs/rfcs/0008-backwards-compatibility.md
  docs/sources/flow/reference/cli/convert.md
Labels: backport release-v0.40

#6755 Update cypher suite support
  docs/sources/flow/reference/config-blocks/http.md
Labels: type/docs, backport release-v0.38, backport release-v0.39, backport release-v0.40

#6736 doc(flow/get-started): fix wrong doc ref in Windows installation guide
  docs/sources/flow/get-started/install/windows.md
Labels: type/docs, backport release-v0.40

#6753 Reduce default sync_interval for mimir.rules.kubernetes
  CHANGELOG.md
  docs/sources/flow/reference/components/mimir.rules.kubernetes.md
  internal/component/mimir/rules/kubernetes/types.go
Labels: type/docs

#6574 [Fixes #6565] Implement Luhn Loki processor
  CHANGELOG.md
  docs/sources/flow/reference/components/loki.process.md
  internal/component/loki/process/stages/luhn.go
  internal/component/loki/process/stages/luhn_test.go
  internal/component/loki/process/stages/pipeline.go
  internal/component/loki/process/stages/stage.go
Labels: type/docs

#6790 wire in the otel converter and create a migration guide
  CHANGELOG.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/cli/run.md
  docs/sources/flow/tasks/migrate/from-operator.md
  docs/sources/flow/tasks/migrate/from-otelcol.md
  internal/converter/converter.go
Labels: type/docs
