Repository grafana/agent, pull requests merged in 2024-04, with the labels that each got.

#6780 Update postgres exporter
  .github/depcheck.yml
  CHANGELOG.md
  docs/sources/flow/reference/components/prometheus.exporter.postgres.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/postgres/postgres.go
  internal/component/prometheus/exporter/postgres/postgres_test.go
  internal/static/integrations/postgres_exporter/postgres_exporter.go
Labels: type/docs

#6820 Added support for static configuration conversion of the traces subsytem
  CHANGELOG.md
  docs/sources/flow/tasks/migrate/from-static.md
  internal/converter/internal/staticconvert/internal/build/builder_traces.go
  internal/converter/internal/staticconvert/testdata/traces.yaml
  internal/converter/internal/staticconvert/testdata/unsupported.diags
  internal/converter/internal/staticconvert/testdata/unsupported.yaml
Labels: type/docs

#6789 Add Grafana Beyla Flow component
  CHANGELOG.md
  CODEOWNERS
  docs/sources/flow/reference/compatibility/_index.md
  docs/sources/flow/reference/components/beyla.ebpf.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/beyla/ebpf/args.go
  internal/component/beyla/ebpf/beyla_linux.go
  internal/component/beyla/ebpf/beyla_linux_test.go
  internal/component/beyla/ebpf/beyla_placeholder.go
Labels: type/docs

#6515 feat(faro/receiver): propagate request metadata to downstream consumers
  CHANGELOG.md
  docs/sources/flow/reference/components/faro.receiver.md
  internal/component/faro/receiver/arguments.go
  internal/component/faro/receiver/handler.go
  internal/component/faro/receiver/receiver_otelcol_test.go
  internal/component/faro/receiver/receiver_test.go
Labels: type/docs

#6838 readme: add Alloy announcement banner
  README.md
Labels: type/docs

#6843 Add deprecation banner to main index files in Agent
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/_index.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
Labels: type/docs, backport release-v0.36, backport release-v0.37, backport release-v0.38, backport release-v0.39, backport release-v0.40

#6845 [release-v0.39] Add deprecation banner to main index files in Agent #6844
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/_index.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
Labels: type/docs, backport

#6846 [release-v0.38] Add deprecation banner to main index files in Agent #6844
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/_index.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
Labels: type/docs, backport

#6848 Update share link to use next
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/_index.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
Labels: type/docs, backport release-v0.38, backport release-v0.39, backport release-v0.40

#6778 Update kafka exporter dependency
  CHANGELOG.md
  docs/sources/flow/reference/components/prometheus.exporter.kafka.md
  docs/sources/static/configuration/integrations/kafka-exporter-config.md
  go.mod
  go.sum
  internal/cmd/integration-tests/configs/kafka/Dockerfile
  internal/cmd/integration-tests/configs/kafka/main.go
  internal/cmd/integration-tests/docker-compose.yaml
  internal/cmd/integration-tests/tests/kafka/config.river
  internal/cmd/integration-tests/tests/kafka/kafka_metrics_test.go
  internal/cmd/integration-tests/tests/unix/unix_metrics_test.go
  internal/cmd/integration-tests/utils.go
  internal/component/prometheus/exporter/kafka/kafka.go
  internal/component/prometheus/exporter/kafka/kafka_test.go
  internal/converter/internal/staticconvert/internal/build/kafka_exporter.go
  static/integrations/kafka_exporter/kafka_exporter.go
Labels: outdated-dependency, variant/static, variant/flow

#6861 Remove Agent deprecation caution
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/_index.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39, backport release-v0.40

#6866 [release-v0.37] Remove Agent deprecation caution
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
Labels: type/docs, backport

#6865 [release-v0.39] Remove Agent deprecation caution
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/flow/_index.md
  docs/sources/operator/_index.md
  docs/sources/static/_index.md
Labels: type/docs, backport

#6263 feat(loki/src/k8s): not restart tailers in `loki.source.kubernetes` component by above-average time deltas if K8s version is > 1.29.0
  CHANGELOG.md
  go.mod
  internal/component/loki/source/kubernetes/kubetail/tailer.go
Labels: enhancement, variant/flow
