Repository grafana/agent, pull requests merged in 2024-02, with the labels that each got.

#6294 Remove most mature part of description
  docs/sources/static/_index.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6293 Docs/add note about docker api
  docs/sources/static/api/_index.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6320 Docs/add note about docker api (#6293)
  docs/sources/static/api/_index.md
Labels: type/docs, backport

#6319 [release-v0.39] Docs/add note about docker api (#6293)
  docs/sources/static/api/_index.md
Labels: type/docs, backport

#6321 [release-v0.37] Backport 6293 to release v0.37
  docs/sources/static/api/_index.md
Labels: type/docs, backport

#6336 Tidy up formatting, syntax and tweak grammar in the Ansible topic
  docs/sources/flow/get-started/install/ansible.md
Labels: type/docs

#6325 MSSQL Integration - Update documentation with extra windows authentication details
  CHANGELOG.md
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/static/configuration/integrations/mssql-config.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6338 [release-v0.39] Updates MSSQL Integrations docs with extra auth details #6325
  docs/sources/flow/reference/components/prometheus.exporter.mssql.md
  docs/sources/static/configuration/integrations/mssql-config.md
Labels: type/docs, backport

#6371 Mention `stage.pack` in the `stage.timestamp` docs.
  docs/sources/flow/reference/components/loki.process.md
Labels: type/docs, backport release-v0.38, backport release-v0.39

#6406 remove windows 2012 support (#6086)
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs, backport

#6408 [release-v0.38] docs: fix write_relabel_config block reference (#6395)
  docs/sources/flow/reference/components/prometheus.remote_write.md
  docs/sources/shared/flow/reference/components/write_relabel_config.md
Labels: type/docs, backport

#6410 Add `otelcol.connector.host_info` component
  CHANGELOG.md
  component/all/all.go
  component/otelcol/connector/host_info/config.go
  component/otelcol/connector/host_info/config_test.go
  component/otelcol/connector/host_info/connector.go
  component/otelcol/connector/host_info/connector_test.go
  component/otelcol/connector/host_info/factory.go
  component/otelcol/connector/host_info/factory_test.go
  component/otelcol/connector/host_info/grafanacloud.go
  component/otelcol/connector/host_info/grafanacloud_test.go
  component/otelcol/connector/host_info/host_metrics.go
  component/otelcol/connector/host_info/host_metrics_test.go
  docs/sources/flow/reference/compatibility/_index.md
  docs/sources/flow/reference/components/otelcol.connector.host_info.md
  go.mod
Labels: type/docs

#6488 update docs for otelcol.connector.host_info
  component/otelcol/connector/host_info/host_metrics.go
  docs/sources/flow/reference/components/otelcol.connector.host_info.md
Labels: type/docs, backport release-v0.40

#6509 General cleanup of relref links
  docs/sources/flow/_index.md
  docs/sources/flow/reference/config-blocks/argument.md
  docs/sources/flow/reference/config-blocks/declare.md
  docs/sources/flow/reference/config-blocks/export.md
  docs/sources/flow/reference/config-blocks/http.md
  docs/sources/flow/reference/config-blocks/import.file.md
  docs/sources/flow/reference/config-blocks/import.git.md
  docs/sources/flow/reference/config-blocks/import.http.md
  docs/sources/flow/reference/config-blocks/import.string.md
  docs/sources/flow/reference/config-blocks/remotecfg.md
Labels: type/docs

#3936 Loki crds
  CHANGELOG.md
  component/all/all.go
  component/loki/rules/kubernetes/debug.go
  component/loki/rules/kubernetes/diff.go
  component/loki/rules/kubernetes/diff_test.go
  component/loki/rules/kubernetes/events.go
  component/loki/rules/kubernetes/events_test.go
  component/loki/rules/kubernetes/health.go
  component/loki/rules/kubernetes/rules.go
  component/loki/rules/kubernetes/rules_test.go
  component/loki/rules/kubernetes/types.go
  docs/sources/flow/reference/components/loki.rules.kubernetes.md
  pkg/loki/client/client.go
  pkg/loki/client/client_test.go
  pkg/loki/client/internal/client.go
  pkg/loki/client/internal/client_test.go
  pkg/loki/client/rules.go
  pkg/loki/client/rules_test.go
Labels: type/docs
