Repository grafana/agent, pull requests merged in 2024-01, with the labels that each got.

#5814 feat(exporter/elasticsearch): add Basic Auth support
  CHANGELOG.md
  component/prometheus/exporter/elasticsearch/elasticsearch.go
  component/prometheus/exporter/elasticsearch/elasticsearch_test.go
  converter/internal/staticconvert/internal/build/elasticsearch_exporter.go
  docs/sources/flow/reference/components/prometheus.exporter.elasticsearch.md
  docs/sources/static/configuration/integrations/elasticsearch-exporter-config.md
  pkg/integrations/elasticsearch_exporter/elasticsearch_exporter.go
Labels: type/docs

#5972 Remove replace directive for golang.org/x/exp
  CHANGELOG.md
  component/all/all.go
  component/discovery/aws/ec2.go
  component/discovery/aws/lightsail.go
  component/discovery/azure/azure.go
  component/discovery/consul/consul.go
  component/discovery/digitalocean/digitalocean.go
  component/discovery/ovhcloud/ovhcloud.go
  component/discovery/ovhcloud/ovhcloud_test.go
  converter/internal/prometheusconvert/component/ec2.go
  converter/internal/prometheusconvert/component/lightsail.go
  converter/internal/prometheusconvert/component/ovhcloud.go
  converter/internal/prometheusconvert/component/scrape.go
  converter/internal/prometheusconvert/component/service_discovery.go
  converter/internal/prometheusconvert/testdata/azure.river
  converter/internal/prometheusconvert/testdata/consul.river
  converter/internal/prometheusconvert/testdata/digitalocean.river
  converter/internal/prometheusconvert/testdata/discovery.river
  converter/internal/prometheusconvert/testdata/discovery_relabel.river
  converter/internal/prometheusconvert/testdata/ec2.diags
  converter/internal/prometheusconvert/testdata/ec2.river
  converter/internal/prometheusconvert/testdata/lightsail.diags
  converter/internal/prometheusconvert/testdata/lightsail.river
  converter/internal/prometheusconvert/testdata/ovhcloud.river
  converter/internal/prometheusconvert/testdata/ovhcloud.yaml
  converter/internal/prometheusconvert/testdata/scrape.diags
  converter/internal/prometheusconvert/testdata/scrape.yaml
  converter/internal/prometheusconvert/testdata/unsupported.diags
  converter/internal/prometheusconvert/testdata/unsupported.yaml
  converter/internal/promtailconvert/testdata/azure.river
  converter/internal/promtailconvert/testdata/consul.river
  converter/internal/promtailconvert/testdata/digitalocean.river
  converter/internal/staticconvert/testdata/prom_remote_write.river
  converter/internal/staticconvert/testdata/prom_scrape.river
  converter/internal/staticconvert/testdata/promtail_prom.river
  docs/sources/flow/reference/compatibility/_index.md
  docs/sources/flow/reference/components/discovery.consul.md
  docs/sources/flow/reference/components/discovery.docker.md
  docs/sources/flow/reference/components/discovery.dockerswarm.md
  docs/sources/flow/reference/components/discovery.ec2.md
  docs/sources/flow/reference/components/discovery.eureka.md
  docs/sources/flow/reference/components/discovery.hetzner.md
  docs/sources/flow/reference/components/discovery.http.md
  docs/sources/flow/reference/components/discovery.ionos.md
  docs/sources/flow/reference/components/discovery.kubernetes.md
  docs/sources/flow/reference/components/discovery.kuma.md
  docs/sources/flow/reference/components/discovery.linode.md
  docs/sources/flow/reference/components/discovery.marathon.md
  docs/sources/flow/reference/components/discovery.nomad.md
  docs/sources/flow/reference/components/discovery.ovhcloud.md
  docs/sources/flow/reference/components/discovery.puppetdb.md
  docs/sources/flow/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/flow/reference/components/prometheus.scrape.md
  docs/sources/static/configuration/integrations/cloudwatch-exporter-config.md
  go.mod
  go.sum
  pkg/metrics/instance/configstore/api_test.go
  pkg/metrics/instance/host_filter_test.go
  pkg/metrics/instance/marshal_test.go
Labels: type/docs

#6024 Update cadvisor-config.md
  docs/sources/static/configuration/integrations/cadvisor-config.md
Labels: type/docs, backport release-v0.36, backport release-v0.37, backport release-v0.38

#6013 Append, rather than set, '/pods' to the path in discovery.kubelet
  CHANGELOG.md
  component/discovery/kubelet/kubelet.go
  component/discovery/kubelet/kubelet_test.go
  docs/sources/flow/reference/components/discovery.kubelet.md
Labels: type/docs

#6086 remove windows 2012 support
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs

#6088 Fix incorrect aliases for config migration docs
  docs/sources/flow/tasks/migrate/from-operator.md
  docs/sources/flow/tasks/migrate/from-prometheus.md
  docs/sources/flow/tasks/migrate/from-promtail.md
  docs/sources/flow/tasks/migrate/from-static.md
Labels: backport release-v0.39

#5904 Explain tracing load balancing in more detail
  docs/sources/flow/reference/components/otelcol.exporter.loadbalancing.md
  docs/sources/flow/setup/deploy-agent.md
  docs/sources/static/configuration/traces-config.md
  docs/sources/static/set-up/deploy-agent.md
Labels: type/docs

#5980 Clarify usage of spanmetrics connector with a prometheus remote write
  component/otelcol/connector/spanmetrics/spanmetrics_test.go
  component/otelcol/processor/processortest/processortest.go
  docs/sources/flow/reference/components/otelcol.connector.spanmetrics.md
Labels: type/docs

#6087 Split 'Start agent' into per-platform pages
  docs/sources/flow/setup/deploy-agent.md
  docs/sources/flow/setup/install/_index.md
  docs/sources/flow/setup/install/binary.md
  docs/sources/flow/setup/install/linux.md
  docs/sources/flow/setup/install/macos.md
  docs/sources/flow/setup/install/windows.md
  docs/sources/flow/setup/start-agent.md
  docs/sources/flow/setup/start/_index.md
  docs/sources/flow/setup/start/binary.md
  docs/sources/flow/setup/start/linux.md
  docs/sources/flow/setup/start/macos.md
  docs/sources/flow/setup/start/windows.md
  docs/sources/flow/tasks/migrate/from-prometheus.md
  docs/sources/flow/tasks/migrate/from-promtail.md
  docs/sources/flow/tasks/migrate/from-static.md
Labels: type/docs

#6079 docs: remove reference to production/kubernetes
  docs/sources/static/set-up/install/install-agent-kubernetes.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6096 [release-v0.36] docs: pin version to removed folders
  docs/sources/_index.md
  docs/sources/static/set-up/install/install-agent-kubernetes.md
Labels: type/docs, backport release-v0.32, backport release-v0.31, backport release-v0.30, backport release-v0.29, backport release-v0.28, backport release-v0.33, backport release-v0.34, backport release-v0.35

#5958 Add a new configurable option to the windows installer for static mode
  CHANGELOG.md
  docs/sources/static/set-up/install/install-agent-on-windows.md
  packaging/grafana-agent/windows/install_script.nsis
Labels: type/docs

#6076 Clarify usage of resource_to_telemetry_conversion
  docs/sources/flow/reference/components/otelcol.exporter.prometheus.md
Labels: type/docs, backport release-v0.39

#5847 Improve the docs of pyroscope.scrape
  docs/sources/flow/reference/components/pyroscope.scrape.md
Labels: type/docs

#6104 [release-v0.34] Backport 6096 to release v0.34
  docs/sources/_index.md
  docs/sources/static/set-up/install/install-agent-kubernetes.md
Labels: type/docs, backport release-v0.32, backport release-v0.31, backport release-v0.30, backport release-v0.29, backport release-v0.28, backport release-v0.33

#6106 [release-v0.32] docs: pin version to removed folders
  docs/sources/_index.md
  docs/sources/set-up/_index.md
Labels: type/docs, backport release-v0.31, backport release-v0.30, backport release-v0.29, backport release-v0.28

#5927 feat(exporter/windows): expose physical_disk collector
  CHANGELOG.md
  component/prometheus/exporter/windows/config.go
  component/prometheus/exporter/windows/config_default_windows_test.go
  component/prometheus/exporter/windows/config_windows.go
  component/prometheus/exporter/windows/windows_test.go
  converter/internal/staticconvert/internal/build/windows_exporter.go
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
  docs/sources/static/configuration/integrations/windows-exporter-config.md
  pkg/integrations/windows_exporter/config.go
  pkg/integrations/windows_exporter/config_windows.go
Labels: type/docs

#6119 Docs: fix double note docs formatting
  docs/sources/flow/reference/compatibility/_index.md
Labels: type/docs, backport release-v0.39

#6125 [Docs] Minifix: loki.source.file -> loki.source.docker
  docs/sources/flow/reference/components/loki.source.docker.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6142 Fix broken link syntax
  docs/sources/flow/setup/install/binary.md
Labels: type/docs

#5888 Add first chapter of flow-by-example to docs
  docs/sources/flow/tutorials/flow-by-example/_index.md
  docs/sources/flow/tutorials/flow-by-example/first-components-and-stdlib/index.md
  docs/sources/flow/tutorials/flow-by-example/get-started.md
Labels: type/docs

#6131 Update scraping-service.md
  docs/sources/static/configuration/scraping-service.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6147 doc(prom/exp/blackbox): correct key-val separator for River map
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6161 [release-v0.37] doc(prom/exp/blackbox): correct key-val separator for River map
  docs/sources/flow/reference/components/prometheus.exporter.blackbox.md
Labels: type/docs, backport

#5858 discovery.process and pyroscope.java
  CHANGELOG.md
  component/all/all.go
  component/discovery/process/args.go
  component/discovery/process/container.go
  component/discovery/process/container_test.go
  component/discovery/process/discover.go
  component/discovery/process/join.go
  component/discovery/process/join_test.go
  component/discovery/process/process.go
  component/discovery/process/process_stub.go
  component/pyroscope/java/args.go
  component/pyroscope/java/asprof/asprof.go
  component/pyroscope/java/asprof/asprof_linux_amd64.go
  component/pyroscope/java/asprof/asprof_linux_arm64.go
  component/pyroscope/java/asprof/asprof_test.go
  component/pyroscope/java/asprof/async-profiler-3.0-ea-linux-arm64.tar.gz
  component/pyroscope/java/asprof/async-profiler-3.0-ea-linux-x64.tar.gz
  component/pyroscope/java/asprof/extract.go
  component/pyroscope/java/java.go
  component/pyroscope/java/java_stub.go
  component/pyroscope/java/loop.go
  docs/sources/flow/reference/compatibility/_index.md
  docs/sources/flow/reference/components/discovery.process.md
  docs/sources/flow/reference/components/pyroscope.java.md
  go.mod
  go.sum
Labels: type/docs

#6164 docs: fix placeholder formatting
  docs/sources/flow/tasks/migrate/from-static.md
Labels: type/docs, backport release-v0.39

#6170 fix typo in doc
  docs/sources/flow/reference/components/otelcol.exporter.otlp.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6176 [release v0.39] Add first chapter of flow-by-example to docs #5888
  docs/sources/flow/tutorials/flow-by-example/_index.md
  docs/sources/flow/tutorials/flow-by-example/first-components-and-stdlib/index.md
  docs/sources/flow/tutorials/flow-by-example/get-started.md
Labels: type/docs, backport

#6192 Add task doc for chef
  docs/sources/flow/get-started/install/chef.md
Labels: type/docs

#6172 [Docs] Add logs-and-relabeling-basics section to 'Flow by Example' tutorials
  docs/sources/flow/tutorials/flow-by-example/logs-and-relabeling-basics/index.md
Labels: type/docs

#6205 chore(docs): update enabled collectors for windows_exporter
  docs/sources/static/configuration/integrations/windows-exporter-config.md
Labels: type/docs, backport release-v0.39

#5764 Add an otelcol.processor.resourcedetection component
  CHANGELOG.md
  component/all/all.go
  component/otelcol/config_k8s.go
  component/otelcol/processor/resourcedetection/internal/aws/ec2/config.go
  component/otelcol/processor/resourcedetection/internal/aws/ecs/config.go
  component/otelcol/processor/resourcedetection/internal/aws/eks/config.go
  component/otelcol/processor/resourcedetection/internal/aws/elasticbeanstalk/config.go
  component/otelcol/processor/resourcedetection/internal/aws/lambda/config.go
  component/otelcol/processor/resourcedetection/internal/azure/aks/config.go
  component/otelcol/processor/resourcedetection/internal/azure/config.go
  component/otelcol/processor/resourcedetection/internal/consul/config.go
  component/otelcol/processor/resourcedetection/internal/docker/config.go
  component/otelcol/processor/resourcedetection/internal/gcp/config.go
  component/otelcol/processor/resourcedetection/internal/heroku/config.go
  component/otelcol/processor/resourcedetection/internal/k8snode/config.go
  component/otelcol/processor/resourcedetection/internal/openshift/config.go
  component/otelcol/processor/resourcedetection/internal/resource_attribute_config/resource_attribute_config.go
  component/otelcol/processor/resourcedetection/internal/system/config.go
  component/otelcol/processor/resourcedetection/resourcedetection.go
  component/otelcol/processor/resourcedetection/resourcedetection_test.go
  docs/sources/flow/reference/compatibility/_index.md
  docs/sources/flow/reference/components/otelcol.processor.resourcedetection.md
  go.mod
  go.sum
Labels: type/docs

#6233 docs: move "Flow by example" folder to top of tutorials list
  docs/sources/flow/tutorials/flow-by-example/_index.md
Labels: backport release-v0.39

#6241 Update URL destination for Agent Operator CRDs
  docs/sources/operator/getting-started.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6242 Fix heading remove variable
  docs/sources/flow/_index.md
Labels: type/docs, backport release-v0.39

#6244 Use correct syntax for var names in headings
  docs/sources/flow/_index.md
Labels: type/docs, backport release-v0.39

#6247 (cherry picked from commit d017470abd9364c10fb3ba70ae36e61c39378a60)
  docs/sources/flow/_index.md
Labels: type/docs, backport

#6249 Backport 6172 to release v0.39
  docs/sources/flow/tutorials/flow-by-example/logs-and-relabeling-basics/index.md
Labels: type/docs, backport

#6248 Backport 6241 to release v0.37
  docs/sources/operator/getting-started.md
Labels: type/docs, backport

#6219 WIP: Clean up docs in new and refactored content
  docs/sources/flow/get-started/_index.md
  docs/sources/flow/get-started/install/_index.md
  docs/sources/flow/get-started/install/chef.md
  docs/sources/flow/get-started/install/windows.md
  docs/sources/flow/reference/cli/convert.md
  docs/sources/flow/reference/compatibility/_index.md
  docs/sources/flow/reference/components/otelcol.processor.resourcedetection.md
  docs/sources/flow/reference/components/prometheus.exporter.agent.md
  docs/sources/flow/reference/components/prometheus.exporter.snmp.md
  docs/sources/flow/reference/components/prometheus.exporter.windows.md
  docs/sources/flow/tasks/estimate-resource-usage.md
  docs/sources/flow/tasks/migrate/from-promtail.md
  docs/sources/flow/tutorials/flow-by-example/first-components-and-stdlib/index.md
Labels: type/docs, backport release-v0.39

#6184 fix(pyroscope.java): infer service_name label if possible
  CHANGELOG.md
  component/pyroscope/java/loop.go
  component/pyroscope/java/target.go
  component/pyroscope/scrape/target.go
  docs/sources/flow/reference/components/pyroscope.java.md
  docs/sources/flow/reference/components/pyroscope.scrape.md
Labels: type/docs

#6255 Change the default value of disable_high_cardinality_metrics to "true".
  CHANGELOG.md
  component/otelcol/config_debug_metrics.go
  component/otelcol/exporter/loadbalancing/loadbalancing.go
  component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  component/otelcol/exporter/logging/logging.go
  component/otelcol/exporter/otlp/otlp.go
  component/otelcol/exporter/otlp/otlp_test.go
  component/otelcol/exporter/otlphttp/otlphttp.go
  component/otelcol/exporter/otlphttp/otlphttp_test.go
  docs/sources/flow/release-notes.md
  docs/sources/shared/flow/reference/components/otelcol-debug-metrics-block.md
Labels: type/docs

#6273 Update CRD link URLs
  cmd/grafana-agent-operator/DEVELOPERS.md
  docs/sources/operator/deploy-agent-operator-resources.md
  docs/sources/operator/helm-getting-started.md
  docs/sources/static/set-up/install/_index.md
Labels: type/docs, backport release-v0.37, backport release-v0.38, backport release-v0.39

#6240 Add task doc for Puppet
  docs/sources/flow/get-started/install/chef.md
  docs/sources/flow/get-started/install/puppet.md
Labels: type/docs

#6265 docs(pyroscope.ebpf): rewrite container id sections, include PID label
  docs/sources/flow/reference/components/pyroscope.ebpf.md
Labels: type/docs
