Repository grafana/agent, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/grafana-agent-core-maintainers, @grafana/grafana-agent-operator-maintainers, @clayton-cornell, @grafana/grafana-agent-infrastructure-maintainers, @grafana/grafana-agent-signals-maintainers

CODEOWNERS:

# The following groups are used to refer to a changing set of users:
#
# * @grafana/grafana-agent-core-maintainers: maintainers of type/core issues.
# * @grafana/grafana-agent-signals-maintainers: maintainers of type/signals issues.
# * @grafana/grafana-agent-operator-maintainers: maintainers of type/operator issues.
# * @grafana/grafana-agent-infrastructure-maintainers: maintainers of type/infrastructure issues.
#
# Other users may be listed explicitly if maintainership does not fall into one
# of the above groups.

# The default owners for everything in the repo. Unless a later match takes
# precedence, these owners are requested for review whenever someone opens a
# pull request.
* @grafana/grafana-agent-core-maintainers

# Binaries:
/cmd/grafana-agent-operator/  @grafana/grafana-agent-operator-maintainers

# Documentation:
/docs/sources/  @clayton-cornell

# Components:
/component/discovery/               @grafana/grafana-agent-infrastructure-maintainers
/component/local/                   @grafana/grafana-agent-infrastructure-maintainers
/component/loki/                    @grafana/grafana-agent-signals-maintainers
/component/loki/source/podlogs/     @grafana/grafana-agent-infrastructure-maintainers
/component/mimir/rules/kubernetes/  @grafana/grafana-agent-infrastructure-maintainers
/component/otelcol/                 @grafana/grafana-agent-signals-maintainers
/component/phlare/                  @grafana/grafana-agent-signals-maintainers
/component/prometheus/              @grafana/grafana-agent-signals-maintainers
/component/prometheus/exporter/     @grafana/grafana-agent-infrastructure-maintainers
/component/remote/                  @grafana/grafana-agent-infrastructure-maintainers

# Static mode packages:
/pkg/integrations/  @grafana/grafana-agent-infrastructure-maintainers
/pkg/logs/          @grafana/grafana-agent-signals-maintainers
/pkg/metrics/       @grafana/grafana-agent-signals-maintainers
/pkg/mimir/client/  @grafana/grafana-agent-infrastructure-maintainers
/pkg/operator/      @grafana/grafana-agent-operator-maintainers
/pkg/traces/        @grafana/grafana-agent-signals-maintainers

lint
  component/prometheus/operator/common/crdmanager.go
Owners: @grafana/grafana-agent-signals-maintainers

document refresh behaviour
  CHANGELOG.md
  docs/sources/flow/reference/components/prometheus.operator.podmonitors.md
  docs/sources/flow/reference/components/prometheus.operator.servicemonitors.md
Owners: @grafana/grafana-agent-core-maintainers, @clayton-cornell

Remove note about binary install
  docs/sources/static/set-up/install-agent-macos.md
Owners: @clayton-cornell

more wal work
  component/prometheus/wal/memory/appender.go
  component/prometheus/wal/memory/component.go
  component/prometheus/writeto.go
  go.mod
  go.sum
Owners: @grafana/grafana-agent-signals-maintainers, @grafana/grafana-agent-core-maintainers

Start documentation for cadvisor component
  docs/sources/flow/reference/components/prometheus.exporter.cadvisor.md
Owners: @clayton-cornell

Add prometheus.exporter.dnsmasq component code and add it to all.go imports
  component/all/all.go
  component/prometheus/exporter/dnsmasq/dnsmasq.go
  component/prometheus/exporter/dnsmasq/dnsmasq_test.go
Owners: @grafana/grafana-agent-core-maintainers, @grafana/grafana-agent-infrastructure-maintainers

flatten evaluate function depth a little
  component/prometheus/scrape/scrape.go
  pkg/river/vm/struct_decoder.go
  pkg/river/vm/vm.go
Owners: @grafana/grafana-agent-signals-maintainers, @grafana/grafana-agent-core-maintainers

Add documentation
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
Owners: @clayton-cornell

Update CHANGELOG
  CHANGELOG.md
Owners: @grafana/grafana-agent-core-maintainers

fix up test!
  component/prometheus/scrape/scrape_test.go
Owners: @grafana/grafana-agent-signals-maintainers

Update docs
  docs/sources/flow/reference/components/prometheus.exporter.dnsmasq.md
Owners: @clayton-cornell

Remove obsolete v2 homebrew note
  docs/sources/static/set-up/install-agent-macos.md
Owners: @clayton-cornell

Fix typo
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
Owners: @clayton-cornell

Small simplification of sentences
  docs/sources/static/set-up/install-agent-macos.md
Owners: @clayton-cornell

exclude meta labels
  component/prometheus/operator/common/crdmanager.go
Owners: @grafana/grafana-agent-signals-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @grafana/grafana-agent-core-maintainers

flow: fix panic in promethus/operator components when defaults not applied to user supplied relabel configs (#4015)
  CHANGELOG.md
  component/prometheus/operator/configgen/config_gen.go
  component/prometheus/operator/configgen/config_gen_podmonitor_test.go
  component/prometheus/operator/configgen/config_gen_servicemonitor_test.go
Owners: @grafana/grafana-agent-core-maintainers, @grafana/grafana-agent-signals-maintainers

Update Agent static install on macOS topic (#4006)
  docs/sources/static/set-up/install-agent-macos.md
Owners: @clayton-cornell

Update Agent static install on macOS topic (#4006)
  docs/sources/static/set-up/install-agent-macos.md
Owners: @clayton-cornell

more changes
  component/all/all.go
  component/prometheus/QueueWatcher.go
  component/prometheus/remote/metrics.go
  component/prometheus/remote/queue_manager.go
  component/prometheus/remote/remote.go
  component/prometheus/remote/types.go
  component/prometheus/wal/memory/component.go
  component/prometheus/writeto.go
Owners: @grafana/grafana-agent-core-maintainers, @grafana/grafana-agent-signals-maintainers

Update docs/sources/flow/reference/components/loki.source.awsfirehose.md
  docs/sources/flow/reference/components/loki.source.awsfirehose.md
Owners: @clayton-cornell

Fix typo (#4022)
  docs/sources/flow/reference/components/prometheus.exporter.consul.md
Owners: @clayton-cornell

Apply suggestions from code review
  docs/sources/flow/reference/components/loki.source.awsfirehose.md
Owners: @clayton-cornell

Apply suggestions from code review
  docs/sources/flow/reference/components/loki.source.awsfirehose.md
Owners: @clayton-cornell

Apply suggestions from code review
  docs/sources/flow/reference/components/loki.source.awsfirehose.md
Owners: @clayton-cornell
